@import "includes/base";
@import "includes/mixins";
@import "includes/icons";
@import "blocks/header";


*,
*::before,
*::after {
  box-sizing: border-box;
}

.bcg {
  background: url('/img/bg/1-1.png')  center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.clan {
  padding: 50px;
  @media (min-width: 45rem) {
    margin: 0 auto;
    padding: 10px 90px;
    width: 80%;
  }
  background-color: white;
  &__title {
    font-family: 'BodoniItalic', sans-serif;
    text-align: center;
    font-size: 55px;
    margin: 0;
    letter-spacing: 0.1rem;
  }
  &__container {
    display: flex;
    font-size: 20px;
    flex-direction: column;
  @media(min-width: 45rem) {
    flex-direction: row;
  }
  }
  &__content {
    font-family: 'Helios', Arial, sans-serif;
    text-align: justify;
    & p {
      margin-top: 20px;
      &:first-letter {
        padding-left: 40px;
      }
    }
    & a {
      color: red;
    }
  @media(min-width: 45rem) {
    padding: 0 0 0 60px;
  }
  }
  &__sidebar {
    font-family: 'BodoniItalic', sans-serif;
    hr {
      display:block;
      border:0px;
      height: 10px;
      background-image: url('../img/strela.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
    & ul {
      list-style: none;
      padding: 10px;
      & li {
        margin-top: 20px;
      }
      & b {
        font-family: 'BodoniBoldItalic', sans-serif;
      }
    }
  }
  & a {
    color: $primary-color;
    text-decoration: none;
    @include transition(all, 100ms);
    &:hover {
      color: red;
    }
  }
}
