@import "includes/normalize";
@import "includes/base";
@import "includes/mixins";
@import "includes/icons";
@import "blocks/header";
@import "blocks/slick";
/*
  HEADER
 */

/* INTRO */
svg {
  fill: $primary-color;
}
.intro {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction:column;
  &__content {
    position: relative;
    display: flex;
    align-self: center;
    & svg {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 100;
      z-index: 2;
    }
    & p {
      margin: 0;
      width: 400px;
      height: 270px;
      padding: 52px 0 0 0;
      font-family: 'Bodoni', 'Playfair Display', sans-serif;
      font-size: 1.9em;
      z-index: 3;
      line-height: 1.2em;
    }
  }
  & a {
    align-self: center;
    text-decoration: none;
    color: $primary-color;
    text-align: center;
    &:hover {
      opacity: .8;
    }
    & span {
      position: absolute;
      bottom: 50px;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 1px solid $primary-color;
      border-radius: 100%;
      box-sizing: border-box;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255,255,255,.1);
        border-radius: 100%;
        opacity: 0;
        -webkit-animation: sdb03 3s infinite;
        animation: sdb03 3s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb03 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(109, 104, 85,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes sdb03 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(109, 104, 85,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
#section-blog {
  z-index: 2;
  #blog-wrapper {
    padding-left: 0;
    font-size: 0;
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100000000px;
    li {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 380px;

      &.even {
        .teaser-image {
          top: 0;
        }

        .teaser-content {
          bottom: 0;
        }
      }

      &.odd {
        .teaser-image {
          bottom: 0;
        }

        .teaser-content {
          top: 0;
        }
      }

      &.open {
        z-index: 10;
      }

      .teaser-image {
        background-color: $primary-color;
        background-position-x: center;
        background-size: cover;
        height: 50%;
        width: 100%;
        position: absolute;
        z-index: 1;
        @include transform(translateZ(0px));
      }
      .separator {
        @include font-size(40px, 40px, 0);
        @include transform(translateZ(1px));
        color: white;
        font-family: 'icon';
        left: 50%;
        margin-left: -37px;
        position: absolute;
        top: 50%;
        z-index: 1;

        &.iconpointer-up {
          margin-top: -34px;
        }

        &.iconpointer-down {
          margin-top: -4px;
        }
      }

      .teaser-content {
        background-color: $secondary-color;
        @include transform(translateZ(2px));
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $primary-color;
        &:visited {
          color: $primary-color;
        }
        .teaser-text {
          display: flex;
          align-self: center;
          justify-content: center;
          text-align: center;
          .icon {
            min-width: 120px;
            height: 120px;
          }

          & .title {
            flex: 0 1 auto;
            align-self: center;
            font-family: 'Bodoni', 'Playfair Display', sans-serif;
            font-weight: 500;
            @include font-size(34px, 1em, 10);
            text-transform: uppercase;
          }
        }
      }

    }
  }
}
.project {
  height: 100vh;
  &__content {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    z-index: 3;
    &--title {
      color: $secondary-color;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 70px;
      font-weight: 100;
      z-index: 2;
      margin: 0 -40px;
    }
    &--line {
      height: 100px;
      width: 10px;
      border-right: 2px solid $secondary-color;
      transform: skew(-30deg);
    }
    &--text {
      max-width: 500px;
      font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
      z-index: 3;
      font-size: 17px;
      & h1 {
        position: absolute;
        right: 0;
        font-family: 'Bodoni', 'Playfair Display',sans-serif;
        font-size: 1.6em;
      }
      & p {
        padding: 50px 0 100px 15px;
        text-align: justify;
        &::first-letter {
          font-size: 50px;
          line-height: 20px;
        }
      }
    }
  }
  &__bcg {
    background: url('../img/background1.png') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
/* ABOUT */
.project_about {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  &__bcg {
    background: url('../img/background1.png') center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__content {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    z-index: 5;
    margin-top: 180px;
    margin-left: 20px;
    &--title {
      margin: -32px -40px 0 0;
    }
    &--line {
      height: 100px;
      width: 10px;
      border-right: 2px solid $secondary-color;
      transform: skew(-30deg);
    }
    &--text {
      max-width: 710px;
      margin-left: 10px;
      font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
      z-index: 3;
      font-size: 24px;
      letter-spacing: 0.2ex;
      & h1 {
        position: absolute;
        right: 0;
        font-family: 'Bodoni', Arial, sans-serif;
        font-size: 34px;
        margin-top: 12px !important;
      }
      & p {
        color: $secondary-color;
        padding: 60px 0 100px 15px;
        text-align: justify;
        &::first-letter {
          font-size: 50px;
          line-height: 20px;
        }
      }
      & a {
        text-decoration: none;
        color: $primary-color;
        @include transition(all, 200ms);
        &:hover {
          color: red;
        }
      }
    }
  }
  & a {
    align-self: center;
    text-decoration: none;
    color: $primary-color;
    text-align: center;
    &:hover {
      opacity: .8;
    }
    & span {
      position: absolute;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 1px solid $primary-color;
      border-radius: 100%;
      box-sizing: border-box;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255,255,255,.1);
        border-radius: 100%;
        opacity: 0;
        -webkit-animation: sdb04 3s infinite;
        animation: sdb04 3s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb04 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(109, 104, 85,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes sdb04 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(109, 104, 85,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
/* Genealogia intro */
.project_genintro {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
  height: 100vh;
  &__bcg {
    background: url('../img/background1.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #tubebad {
    position: absolute;
    width: 690px;
    height: 100px;
    z-index: 5;
  }
  & #tube {
    position: absolute;
    width: 670px;
    height: 100px;
    z-index: 5;
    visibility: hidden;
  }
  & #swatch {
    position: absolute;
    width: 59px;
    height: 17px;
    z-index: 2;
    bottom: -12px;
    right: -22px;
    visibility: hidden;
  }
  & #paper {
    width: 530px;
    height: 80px;
    margin-top: 10px;
    margin-left: 140px;
    z-index: 3;
    visibility: hidden;
  }
  & #gen_text {
    position: absolute;
    left: 0;
    padding: 5px 0 0 70px;
    z-index: 4;
  }
  & #link {
  }

  & #stamp {
    position: absolute;
    right: 100px;
    top: 10px;
    height: 90px;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    z-index: 2;
    visibility: hidden;
  }
  & #gen_text_content {
    position: relative;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    z-index: 2;
  }
  & #gen_text {
    opacity: 0;
    visibility: hidden;
    margin-left: 76px;
  }
  & #hat {
    right: -19px;
    position: absolute;
    height: 100px;
    z-index: 5;
    visibility: hidden;
  }
  & #tail1, #tail2 {
    position: absolute;
    right:0;
    top: 40px;
    height: 40px;
    width: 75px;
    z-index: 1;
    transform: rotateY(180deg);
    visibility: hidden;
  }
  & a.down {
    align-self: center;
    text-decoration: none;
    color: $primary-color;
    text-align: center;
    &:hover {
      opacity: .8;
    }
    & span {
      position: absolute;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border: 1px solid $primary-color;
      border-radius: 100%;
      box-sizing: border-box;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: '';
        width: 44px;
        height: 44px;
        box-shadow: 0 0 0 0 rgba(255,255,255,.1);
        border-radius: 100%;
        opacity: 0;
        -webkit-animation: sdb04 3s infinite;
        animation: sdb04 3s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb04 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(109, 104, 85,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes sdb04 {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          box-shadow: 0 0 0 60px rgba(109, 104, 85,.1);
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
/* Sfragistika intro */
.project_sfragistikaintro {
  &__content {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;

  }
  #sfr_overlay {
    content:'\A';
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    background:rgba(0,0,0,0.4);
    z-index: 5;
    visibility: hidden;
  }
  & #letter {
    position: absolute;
  }
  & #stampiron {
    position: absolute;
    width: 370px;
    z-index: 5;
  }
  & #glove {
    position: absolute;
    width: 400px;
    top: 260px;
    transform: rotate(30deg);
    z-index: 6;
    transform-origin: 50% 18%;
  }
  & #stamper {
    position: absolute;
    width: 360px;
    z-index: 4;
    visibility: hidden;
  }
  & #sfr_text {
    position: relative;
    z-index: 6;
    opacity: 0;
  }

  &__bcg {
    background: url('../img/background2.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

}
/* Geraldika intro */
.project_geraldikaintro {
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: 100vh;
    }
    &__bcg {
      background: url('../img/background3.png') center center no-repeat fixed;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &__overlay {
      background: url('../img/overlay.png') center center no-repeat fixed;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
    & #saber, #saber2, #scabbard, #knot {
      position: absolute;
    }
    & #scabbard {
      z-index: 2;
      margin-top: -360px;
      margin-left: 500px;
    }
    & #saber2 {
      margin-top: -100px;
      margin-left: 120px;
    }
    & #knot {
      margin-left: -60px;
    }
    & #ger_text {
      position: relative;
      z-index: 4;
      opacity: 0;
    }
    & #garda {
      position: absolute;
      margin-top: -100px;
      margin-left: -5px;
      z-index: 3;
    }
}
/* Resources intro */
.project_resourcesintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('../img/background4.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  & #paper1, #paper2, #paper3, #glasses, #tail3, #signet, #knot2 {
    position: absolute;
  }
  & #res_text {
    position: relative;
  }
  & #paper3 {
    z-index: 1;
    margin-left: -150px;
    top: -550px;
  }
  & #tail3 {
    z-index: 4;
    right: 200px;
    top: -100px;
    @include transformorigin(0,50%);
  }
  & #paper1 {
    z-index: 3;
    top: -610px;
    margin-left: -80px;
  }
  & #paper2 {
    z-index: 4;
    top: -720px;
  }
  & #glasses {
    z-index: 3;
    top: -555px;
  }
  & #knot2 {
    z-index: 8;
    right: 90px;
    top: -10px;
  }
  & #signet {
    z-index: 6;
    margin-left: -300px;
    top: -70px;
  }
  & #res_text {
    z-index: 5;
    align-self: center;
    opacity: 0;
  }

}
/* Publishing intro */
.project_publishingintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  #pub_overlay {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    z-index: 8;
  }
  &__bcg {
    background: url('../img/background5.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #book, #hand, #lupa, #paper5 {
    position: absolute;
  }
  & #book {
    top: -700px;
    z-index: 3;
  }
  & #hand {
    bottom: -830px;
    margin-left: -300px;
    transform: rotate(10deg);
    z-index: 7;
    width: 280px;
  }
  & #pub_text {
    z-index: 6;
    position: relative;
    opacity: 0;
  }
  & #lupa {
    z-index: 7;
    align-self: center;
    margin-top: 130px;
    margin-left: -80px;
  }
  & #paper5 {
    z-index: 2;
    transform: rotate(-90deg);
    height: 500px;
    top: -600px;
  }
}
/* Projects intro */
.project_projectsintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('../img/background6.png') center center no-repeat fixed;
    background-color: #353335;
    background-blend-mode: multiply;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #lupa2, #glass, #pro_text {
    position: absolute;
  }
  & #lupa2 {
    align-self: center;
    transform:  rotate(-70deg);
    margin-top: 0;
    width: 700px;
    z-index: 3;
  }
  & #glass {
    margin-top: -180px;
    margin-left: 65px;
    align-self: center;
    mix-blend-mode: color-dodge;
    width: 305px;
    z-index: 2;
  }
  & #pro_text {
    z-index: 2;
    align-self: center;
    opacity: 0;
  }
}
/* Events anons intro */
.project_eventsintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('../img/background7.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #arrow, #eve_text, #smoke1, #smoke2, #smoke3, #smoke4, #smoke5 {
    position: absolute;
  }
  & #arrow {
    bottom: 340px;
    z-index: 3;
  }
  & #knot3 {
    margin-right: -55%;
  }
  & #eve_text {
    align-self: center;
    opacity: 0;
    z-index: 2;
  }
  & #smoke1 {
    bottom: -400px;
    margin-left: 24%;
  }
  & #smoke2 {
    bottom: -500px;
    margin-left: -10%;
    width: 1000px;
  }
  & #smoke3 {
    bottom: -600px;
    margin-left: -10%;
    width: 1500px;
  }
  & #smoke4 {
    bottom: -500px;
    margin-left: 30%;
    width: 1200px;
    z-index: 5;
  }
  & #smoke5 {
    bottom: -600px;
    margin-left: 15%;
  }
}
/* Grants intro */
.project_grantsintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('../img/background7.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #gra_text, #paper4, #stamp2, #hand3, #hand4, .wax, #smoke6 {
    position: absolute;
  }
  & #gra_text {
    align-self: center;
    opacity: 0;
    z-index: 4;
  }
  & #stamp2 {
    align-self: center;
    margin-left: -360px;
    margin-top: -600px;
    z-index: 13;
  }
  .wax {
    align-self: center;
    opacity: 0;
  }
  #wax1 {
    margin-left: -330px;
    margin-top: 100px;
  }
  #wax2 {
    margin-left: -360px;
    margin-top: 93px;
  }
  #wax3 {
    margin-left: -390px;
    margin-top: 70px;
  }
  #wax4 {
    margin-left: -370px;
    margin-top: 110px;
  }
  #wax5 {
    margin-left: -360px;
    margin-top: 100px;
  }
  #wax6 {
    margin-left: -360px;
    margin-top: 100px;
  }
  #wax10 {
    margin-left: -360px;
    margin-top: 100px;
  }
  #wax11 {
    margin-left: -360px;
    margin-top: 100px;
  }
  & #knot4 {
    margin-right: -55%;
    z-index: 4;
  }
  & #hand3 {
    margin-left: -1060px;
    margin-top: -200px;
    transform: rotate(50deg);
    opacity: 0;
    z-index: 20;
  }
  & #hand4 {
    margin-left: 300px;
    bottom: -950px;
    z-index: 20;
  }
  #paper4 {
    margin-top: -600px;
    height: 900px;
    z-index: 2;
  }
  #smoke6 {
    align-self: center;
    margin-left: -360px;
    margin-top: 100px;
    opacity: 0;
    width: 300px;
  }
}

/* Slider */
.scrollcontent {
  @include transform(initial);
  @include transform(translate3d(0,0,0));
  height: 100%;
  left: initial;
  max-height: initial;
  overflow-x: hidden;
  overflow-y: scroll;
  position: initial;
  position: relative;
  top: 0;
  // background: green;
}
.project_genealogia {
  .section {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.slider {

      .slides {
        height: 100%;
        position: relative;
        width: 1000000em;

        .slide {
          @include box-sizing();
          display: block;
          float: left;
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 100%;
        }

      }
    }
  }
}

/**
** 3 columns 2 rows
 */
.project_columns {
  .section {
    height: 100%;
    overflow: hidden;
  }
}
.section-anons {
  position: relative;
  z-index: 2;
  .slides {
    padding-left: 0;
    font-size: 0;
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    &__item {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 33.3%;

      &.even {
        .teaser-image {
          top: 0;
        }

        .teaser-content {
          bottom: 0;
        }
      }

      &.odd {
        .teaser-image {
          bottom: 0;
        }

        .teaser-content {
          top: 0;
        }
      }

      .teaser-image {
        background-color: $primary-color;
        background-position-x: center;
        background-size: cover;
        height: 50%;
        width: 100%;
        position: absolute;
        z-index: 1;
        @include transform(translateZ(0px));
      }
      .extra {
        position: absolute;
        z-index: 10;
        margin-top: -73px;
        margin-left: -83px;
      }
      .separator {
        @include font-size(40px, 40px, 0);
        @include transform(translateZ(1px));
        color: white;
        left: 50%;
        margin-left: -37px;
        position: absolute;
        top: 50%;
        z-index: 1;

        &.iconpointer-up {
          margin-top: -34px;
        }

        &.iconpointer-down {
          margin-top: -4px;
        }
      }

      .teaser-content {
        background-color: $secondary-color;
        @include transform(translateZ(2px));
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $primary-color;
        &:visited {
          color: $primary-color;
        }
        &:hover {
          color: #3F3A2F;
        }
        .teaser-text {
          display: flex;
          justify-content: center;
          .icon {
            min-width: 120px;
            height: 120px;
          }
          .title {
            flex: 0 1 auto;
            max-width: 60%;
            align-self: center;
            font-family: 'Bodoni', sans-serif;
            font-weight: 500;
            @include font-size(32px, 1em, 10);
            text-transform: uppercase;
            margin-left: -20px;
          }
        }
      }
    }
  }
}
/**
** Navigation arrow
 */
.prev-next-button {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
  transform: translateY(-50%);
  z-index: 30;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.prev { left: 20px; }
.next { right: 20px; }

.prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;

}

.arrow { fill: #fff ; }
nav {
  .arrownavlink {
    @include font-size(20px, 20px, 0);
    @include transition(all, 100ms);
    background-color: #222;
    color: $primary-color;
    cursor: pointer;
    height: 96px;
    margin-top: -38px;
    position: absolute;
    top: 50%;
    width: 48px;
    z-index: 4;

    &:before {
      @include transition(all, 100ms);
      @include transform(translate(0,-50%));
      position: absolute;
      top: 50%;
    }

    &.prev {
      @include multiple-border-radius(0, 96px, 96px, 0);
      @include transformorigin(0,50%);
      left: 40px;

      &:before {
        right: 20px;
      }

      &.hidden {
        @include transform(translate(-125px,0));
      }
    }

    &.next {
      @include multiple-border-radius(96px, 0, 0, 96px);
      @include transformorigin(100%,50%);
      right: 0px;

      &:before {
        left: 20px;
      }

      &.hidden {
        @include transform(translate(85px,0));
      }
    }
  }
}


.article {
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  & #main {
    visibility: hidden;
    position: relative;
  }
}
.search-results {
  padding: 50px;
  @media (min-width: 45rem) {
    margin: 0 auto;
    padding: 10px 90px;
    width: 80%;
    margin-top: 70px;
  }
  background-color: white;
  &__title {
    font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
    text-align: left;
    line-height: 1em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
    @media(min-width: 45rem) {
      margin-top: 50px;
    }
  }
  &__container {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    @media(min-width: 45rem) {
      flex-direction: row;
    }
  }
  &__content {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    & p {
      margin-top: 20px;
      &:first-letter {
        padding-left: 40px;
      }
    }
    & a {
      color: red;
    }
    @media(min-width: 45rem) {
      padding: 0 0 0 60px;
    }
  }
  & a {
    color: $primary-color;
    text-decoration: none;
    @include transition(all, 100ms);
    &:hover {
      color: red;
    }
  }
}

.clan {
  padding: 50px;
  @media (min-width: 45rem) {
    margin: 0 auto;
    padding: 10px 90px;
    width: 80%;
    margin-top: 170px;
  }
  background-color: white;
  &__title {
    font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
    text-align: left;
    line-height: 1em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
    @media(min-width: 45rem) {
      margin-top: 50px;
    }
  }
  &__container {
    display: flex;
    font-size: 20px;
    flex-direction: column;
  @media(min-width: 45rem) {
    flex-direction: row;
  }
  }
  &__content {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    & p {
      margin-top: 20px;
      &:first-letter {
        padding-left: 40px;
      }
    }
    & a {
      color: red;
    }
  @media(min-width: 45rem) {
    padding: 0 0 0 60px;
  }
  }
  &__sidebar {
    font-family: 'BodoniItalic', 'Playfair Display', sans-serif;

    @media(min-width: 45rem) {
      margin-top: 130px;
      max-width: 400px;
    }
    hr {
      display: block;
      border: 0px;
      height: 10px;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
    & ul {
      list-style: none;
      padding: 10px;
      & li {
        margin-top: 20px;
      }
      & b {
        font-family: 'BodoniBoldItalic', 'Playfair Display', sans-serif;
      }
    }
  }
  & a {
    color: $primary-color;
    text-decoration: none;
    @include transition(all, 100ms);
    &:hover {
      color: red;
    }
  }
}
/*
** Clans 
*/
.bcg-post {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}
.main {
  position: relative;
  z-index: 6;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  @media (min-width: 45rem) {
    margin: 0 auto;
    padding: 90px;
    width: 80%;
  }
  background-color: white;
  &__list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      flex: 1 0 100%;
      padding-right: 20px;
      @media (min-width: 60rem) {
        flex: 1 0 50%;
      }
      box-sizing: border-box;
      font-size: 20px;
      & a {
        color: $primary-color;
        text-decoration: none;
        @include transition(all, 100ms);
        &:hover {
          color: red;
        }
      }
      &__title {
        font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
      }
      &__type {
        padding-left: 5px;
      }
    }
  }
}
/*
** Alphabet
*/
.main {
  padding: 90px 20px;
  @media (min-width: 30rem) {
    padding: 90px;
  }
}
.cards {
  color: $gray;
  font-family: 'Abetka', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1em;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    justify-content: space-around;
    padding: 0;
}

.cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 4rem;
  //height: 40px;
  @media (min-width: 30rem) {
    line-height: 100%;
  }
  @media(min-width: 56rem) {
    font-size: 5rem;
    width: 86px;
    height: 86px;
    border: 1px solid $primary-color;
    margin: 0 50px 70px 50px;
    &:hover {
      border: 1px solid $gray-darker;
    }
  }
  & a {
    line-height: 5rem;
    color: $primary-color;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      color: $gray-darker;
    }
  }
}
.bottom {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 40px;
    & a {
      color: $primary-color;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      padding: 15px 30px;
      border: 1px solid;
      font-size: 2em;
      margin: 0 auto;
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      &:visited {
        color: $primary-color;
      }
      &:hover {
        color: $gray-darker;
      }
    }
}
/*
 Story
 */
.story {
  padding: 100px 50px;
  @media (min-width: 45rem) {
    margin: 170px auto;
    padding: 10px 90px;
    width: 80%;
  }
  background-color: white;
  &__title {
    text-transform: uppercase;
    font-family: 'Bodoni', sans-serif;
    line-height: 1.2em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
    text-align: center;
    @media (min-width: 45rem) {
      text-align: left;
      margin-top: 100px;
      margin-left: 20px;
    }
  }
  &__container {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    @media (min-width: 45rem) {
      margin-left: 30px;
      margin-top: 100px;
    }
    &__sidebar {
      flex: 1;
      width: 400px;
      display: none;
      @media (min-width: 45rem) {
        display: block;
      }
    }
    &__content {
      flex: 3;
      font-size: 24px;
      @media (min-width: 45rem) {
        font-size: 33px;
        margin-left: 30px;
      }
      & h2 {
        font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
      }
      figure {
        margin: 40px auto;
        font-size: 20px;
        text-align: center;
      }
      & img {
        max-width: 100%;
      }
      & p {
        text-align: justify;
        &:first-child {
          margin-top: 0;
        }
        font-family: 'Open Sans Condensed', sans-serif;
      }
      &__header {
        &__title {
          text-align: left;
          line-height: 1.2em;
          font-size: 47px;
          margin: 0;
          letter-spacing: 0.1rem;
        }
      }
      &__row {
        display: flex;
        margin-left: 0;
        @media(min-width: 45rem) {
          margin-left: -250px;
        }
        margin-top: 30px;
        & img {
          margin-right: 140px;
        }
      }
      & hr {
        display: block;
        border: 0px;
        height: 10px;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
      & span {
        font-family: 'Open Sans Condensed', sans-serif;
      }
      & a {
        color: red;
        text-decoration: none;
        @include transition(all, 100ms);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

/*
 Granty
 */
.granty {
  padding: 50px;
  @media (min-width: 45rem) {
    margin: 170px auto;
    padding: 10px 90px;
    width: 80%;
  }
  background-color: white;
  &__title {
    font-family: 'Bodoni', sans-serif;
    text-align: left;
    line-height: 1.2em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
    @media (min-width: 45rem) {
      margin-top: 100px;
      margin-left: 20px;
    }
  }

  &__container {
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    &__sidebar {
      flex: 1;
      width: 400px;
    }
    &__content {
      flex: 3;
      font-family: 'BodoniItalic', sans-serif;
      margin-left: 30px;
      font-size: 33px;
      &__header {
        &__title {
          text-align: left;
          line-height: 1.2em;
          font-size: 47px;
          margin: 0;
          letter-spacing: 0.1rem;
        }
      }
      &__row {
        display: flex;
        @media (min-width: 45rem) {
          margin-left: -250px;
        }
        margin-top: 30px;
        & h1, h2, h3 {
          line-height: 1.2em;
        }
        & img {
          margin-right: 40px;
          @media (min-width: 45rem){
            margin-right: 140px;
          }
        }
      }
      & hr {
        display: block;
        border: 0px;
        height: 10px;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
      & span {
        font-family: 'Open Sans Condensed', sans-serif;
      }
      & a {
        color: red;
        text-decoration: none;
        @include transition(all, 100ms);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
/*
 Table
 */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

/*
 Rody
 */
.rody {
  position: relative;
  padding: 50px;
  @media (min-width: 45rem) {
    margin: 0 auto;
    padding: 10px 90px;
    width: 80%;
    margin-top: 170px;
  }
  background-color: white;
  &__title {
    text-transform: uppercase;
    font-family: 'Bodoni', sans-serif;
    text-align: left;
    line-height: 1.2em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
    @media (min-width: 45rem) {
      margin-top: 100px;
      margin-left: 20px;
    }
  }
  &__container {
    margin: 100px 0;
    justify-content: space-around;
    &__sidebar {
      flex: 1;
      width: 400px;
    }
    &__content {
      flex: 3;
      margin-left: 20px;
      font-size: 33px;
      & h2 {
        font-family: 'BodoniItalic', 'Playfair Display', sans-serif;
        margin-left: 310px;
      }
      figure {
        display:flex;
        align-items: flex-start;
        margin: 0;
        & img {
          flex-grow:0;
          flex-shrink:0;
          width: 250px;
          margin-top: 15px;
          margin-right: 60px;
        }
      }

      & p {
        &:first-child {
          margin-top: 0;
        }
        font-family: 'Open Sans Condensed', sans-serif;
      }
      &__header {
        &__title {
          text-align: left;
          line-height: 1.2em;
          font-size: 47px;
          margin: 0;
          letter-spacing: 0.1rem;
        }
      }
      &__row {
        display: flex;
        margin-left: -250px;
        margin-top: 30px;
        & img {
          margin-right: 140px;
        }
      }
      & hr {
        display: block;
        border: 0px;
        height: 10px;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
      & span {
        font-family: 'Open Sans Condensed', sans-serif;
      }
      & a {
        color: red;
        text-decoration: none;
        @include transition(all, 100ms);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

/*
 Market
 */
.market {
  padding: 50px;
  @media (min-width: 45rem) {
    margin: 0 auto;
    padding: 10px 90px;
    width: 80%;
    margin-top: 170px;
  }
  &__title {
    text-transform: uppercase;
    font-family: 'Bodoni', sans-serif;
    text-align: left;
    line-height: 1.2em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
    color: #fff;
    text-shadow: 15px 15px 7px rgba(0,0,0,0.5);
    @media (min-width: 45rem) {
      margin-top: 100px;
      margin-left: 20px;
    }
  }
  &__container {
    margin-top: 100px;
    &__content {
      justify-content: space-between;
      & img {
        margin: 20px;
        -webkit-box-shadow: 20px 20px 4px 0 rgba(0,0,0,0.5);
        box-shadow: 20px 20px 4px 0 rgba(0,0,0,0.5);
      }
    }
  }
}
/*
Category
*/
/* THIS IS THE CLASS THAT IS APPLIED TO THE UNORDERED LIST AND ACTS AS THE FLEX CONTAINER */
.articles {
  display: flex;      /* THIS MAKES IT A FLEX CONTAINER */
  flex-flow: row wrap;    /* THIS MAKES EACH BLOG POST LINE UP HORIZONTALLY AND WRAP TO THE NEXT LINE */
  align-items: center;    /* YOU CAN CHOOSE DIFFERENT VALUES HERE */
  justify-content: center;  /* YOU CAN CHOOSE DIFFERENT VALUES HERE */
  list-style: none;   /* THIS REMOVES THE BULLET POINT FOR EACH LIST ITEM */
}

/* THIS IS THE CLASS FOR EACH LIST ITEM */
.site-main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  .page-header {
    align-self: center;
  }
}
.articles__card {
  flex-basis: 400px;  /* WIDTH OF EACH ITEM - ADJUST FOR YOUR OWN PURPOSES */
  height: 300px;    /* HEIGHT OF EACH ITEM - ADJUST FOR YOUR OWN PURPOSES */
  padding: 10px;    /* SET WHATEVER PADDING VALUE YOU WANT */
  margin: 10px;   /* SET WHATEVER MARGIN VALUE YOU WANT */
  &__header {
    & a {
      text-decoration: none;
      color: $primary-color;
      @include transition(all, 100ms);
      &:hover {
        color: $menu-color;
      }
    }
  }
}
/* USE THIS TO MAKE THE FEATURED IMAGES BEHAVE PROPERLY ACROSS ALL DEVICES */
.articles__card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px; /* SET WHATEVER SIZE VALUE YOU WANT */
}

.navigation .posts-navigation {
  width: 100%;
}
nav.navigation.posts-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2.screen-reader-text, .nav-links {
  align-self: center;
}

.nav-links a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: $menu-color;
  }
}
.nav-links {
  margin-bottom: 40px;
}