@import "includes/base";
@import "includes/mixins";
@import "includes/icons";
@import "blocks/header";
@import "blocks/slick";
/*
  HEADER
 */

/* INTRO */
svg {
  fill: $primary-color;
}
.intro {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__content {
    position: relative;
    display: flex;
    align-self: center;
    & svg {
      font-family: 'Helios', sans-serif;
      font-weight: 100;
      z-index: 2;
    }
    & p {
      margin: 0;
      width: 400px;
      height: 270px;
      padding: 52px 0 0 0;
      font-family: 'Bodoni', sans-serif;
      font-size: 1.9em;
      z-index: 3;
      line-height: 1.2em;
    }
  }
}
#section-blog {
  z-index: 2;
  #blog-wrapper {
    padding-left: 0;
    font-size: 0;
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100000000px;

    li {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 380px;

      &.even {
        .teaser-image {
          top: 0;
        }

        .teaser-content {
          bottom: 0;
        }
      }

      &.odd {
        .teaser-image {
          bottom: 0;
        }

        .teaser-content {
          top: 0;
        }
      }

      &.open {
        z-index: 10;
      }

      .teaser-image {
        background-color: $primary-color;
        background-position-x: center;
        background-size: cover;
        height: 50%;
        width: 100%;
        position: absolute;
        z-index: 1;
        @include transform(translateZ(0px));
      }
      .separator {
        @include font-size(40px, 40px, 0);
        @include transform(translateZ(1px));
        color: white;
        font-family: 'icon';
        left: 50%;
        margin-left: -37px;
        position: absolute;
        top: 50%;
        z-index: 1;

        &.iconpointer-up {
          margin-top: -34px;
        }

        &.iconpointer-down {
          margin-top: -4px;
        }
      }

      .teaser-content {
        background-color: $secondary-color;
        @include transform(translateZ(2px));
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $primary-color;
        &:visited {
          color: $primary-color;
        }
        .teaser-text {
          display: flex;
          align-self: center;
          justify-content: center;
          text-align: center;
          .icon {
            min-width: 120px;
            height: 120px;
          }

          & .title {
            flex: 0 1 auto;
            align-self: center;
            font-family: 'Bodoni', sans-serif;
            font-weight: 500;
            @include font-size(34px, 1em, 10);
            text-transform: uppercase;
          }
        }
      }

    }
  }
}
.project {
  height: 100vh;
  &__content {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    z-index: 3;
    &--title {
      color: $secondary-color;
      font-family: 'Helios', sans-serif;
      font-size: 70px;
      font-weight: 100;
      z-index: 2;
      margin: 0 -40px;
    }
    &--line {
      height: 100px;
      width: 10px;
      border-right: 2px solid $secondary-color;
      transform: skew(-30deg);
    }
    &--text {
      max-width: 500px;
      font-family: 'BodoniItalic', sans-serif;
      z-index: 3;
      font-size: 17px;
      & h1 {
        position: absolute;
        right: 0;
        font-family: 'Bodoni', Arial, sans-serif;
        font-size: 1.6em;
      }
      & p {
        padding: 50px 0 100px 15px;
        text-align: justify;
        &::first-letter {
          font-size: 50px;
          line-height: 20px;
        }
      }
    }
  }
  &__bcg {
    background: url('/img/background1.png') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
/* ABOUT */
.project_about {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__content {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    z-index: 5;
    margin-top: 180px;
    margin-left: 20px;
    &--title {
      font-family: 'Helios', sans-serif;
      font-weight: 100;
      margin: 0 -40px;
    }
    &--line {
      height: 100px;
      width: 10px;
      border-right: 2px solid $secondary-color;
      transform: skew(-30deg);
    }
    &--text {
      max-width: 710px;
      margin-left: 10px;
      font-family: 'BodoniItalic', sans-serif;
      z-index: 3;
      font-size: 24px;
      letter-spacing: 0.2ex;
      & h1 {
        position: absolute;
        right: 0;
        font-family: 'Bodoni', Arial, sans-serif;
        font-size: 34px;
        margin-top: 12px !important;
      }
      & p {
        color: $secondary-color;
        padding: 60px 0 100px 15px;
        text-align: justify;
        &::first-letter {
          font-size: 50px;
          line-height: 20px;
        }
      }
    }
  }
  &__bcg {
    background: url('/img/background1.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
/* Genealogia intro */
.project_genintro {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__bcg {
    background: url('/img/background1.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #tubebad {
    position: absolute;
    width: 690px;
    height: 100px;
    z-index: 5;
  }
  & #tube {
    position: absolute;
    width: 670px;
    height: 100px;
    z-index: 5;
    visibility: hidden;
  }
  & #swatch {
    position: absolute;
    width: 59px;
    height: 17px;
    z-index: 2;
    bottom: -12px;
    right: -22px;
    visibility: hidden;
  }
  & #paper {
    width: 530px;
    height: 80px;
    margin-top: 10px;
    margin-left: 140px;
    z-index: 3;
    visibility: hidden;
  }
  & #gen_text {
    position: absolute;
    z-index: 4;
  }
  & #stamp {
    position: absolute;
    right: 100px;
    top: 10px;
    height: 90px;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    z-index: 2;
    visibility: hidden;
  }
  & #gen_text_content {
    position: relative;
    font-family: 'HeliosCondLightC', Arial, sans-serif;
    z-index: 2;
  }
  & #gen_text {
    opacity: 0; 
    visibility: hidden;
    margin-left: 76px;
  }
  & #hat {
    right: -19px;
    position: absolute;
    height: 100px;
    z-index: 5;
    visibility: hidden;
  }
  & #tail1, #tail2 {
    position: absolute;
    right:0;
    top: 40px;
    height: 40px;
    width: 75px;
    z-index: 1;
    transform: rotateY(180deg);
    visibility: hidden;
  }
}
/* Sfragistika intro */
.project_sfragistikaintro {
  &__content {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  & #letter {
    position: absolute;
  }
  & #stampiron {
    position: absolute;
    width: 370px;
    z-index: 5;
  }
  & #glove {
    position: absolute;
    width: 400px;
    top: 260px;
    transform: rotate(30deg);
    z-index: 6;
    transform-origin: 50% 18%;
  }
  & #stamper {
    position: absolute;
    width: 360px;
    z-index: 4;
    visibility: hidden;
  }
  & #sfr_text {
    position: absolute;
    z-index: 4;
    opacity: 0;
  }

  &__bcg {
    background: url('/img/background2.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

}
/* Geraldika intro */
.project_geraldikaintro {
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      height: 100vh;
    }
    &__bcg {
      background: url('/img/background3.png') center center no-repeat fixed;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &__overlay {
      background: url('/img/overlay.png') center center no-repeat fixed;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
    & #saber, #saber2, #scabbard, #knot {
      position: absolute;
    }
    & #scabbard {
      z-index: 2;
      margin-top: -360px;
      margin-left: 500px;
    }
    & #saber2 {
      margin-top: -100px;
      margin-left: 120px;
    }
    & #knot {
      margin-left: -60px;
    }
    & #ger_text {
      position: absolute;
      z-index: 4;
      opacity: 0;
    }
    & #garda {
      position: absolute;
      margin-top: -100px;
      margin-left: -5px;
      z-index: 3;
    }
}
/* Resources intro */
.project_resourcesintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('/img/background4.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #paper1, #paper2, #paper3, #glasses, #tail3, #signet, #knot2, #res_text {
    position: absolute;
  }
  & #paper3 {
    z-index: 1;
    margin-left: -150px;
    top: -550px;
  }
  & #tail3 {
    z-index: 4;
    right: 200px;
    top: -100px;
    @include transformorigin(0,50%);
  }
  & #paper1 {
    z-index: 3;
    top: -610px;
    margin-left: -80px;
  }
  & #paper2 {
    z-index: 4;
    top: -720px;
  }
  & #glasses {
    z-index: 3;
    top: -555px;
  }
  & #knot2 {
    z-index: 8;
    right: 90px;
    top: -10px;
  }
  & #signet {
    z-index: 6;
    margin-left: -300px;
    top: -70px;
  }
  & #res_text {
    z-index: 5;
    align-self: center;
    opacity: 0;
  }

}
/* Publishing intro */
.project_publishingintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  #pub_overlay {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    z-index: 8;
  }
  &__bcg {
    background: url('/img/background5.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #book, #hand, #lupa, #paper5 {
    position: absolute;
  }
  & #book {
    top: -700px;
    z-index: 3;
  }
  & #hand {
    bottom: -830px;
    margin-left: -300px;
    transform: rotate(10deg);
    z-index: 7;
    width: 280px;
  }
  & #pub_text {
    z-index: 6;
    align-self: center;
    opacity: 0;
  }
  & #lupa {
    z-index: 7;
    align-self: center;
    margin-top: 130px;
    margin-left: -80px;
  }
  & #paper5 {
    z-index: 2;
    transform: rotate(-90deg);
    height: 500px;
    top: -600px;
  }
}
/* Projects intro */
.project_projectsintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('/img/background6.png') center center no-repeat fixed;
    background-color: #353335;
    background-blend-mode: multiply;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #lupa2, #glass, #pro_text {
    position: absolute;
  }
  & #lupa2 {
    align-self: center;
    transform:  rotate(-70deg);
    margin-top: 0;
    width: 700px;
    z-index: 3;
  }
  & #glass {
    margin-top: -180px;
    margin-left: 65px;
    align-self: center;
    mix-blend-mode: color-dodge;
    width: 305px;
    z-index: 2;
  }
  & #pro_text {
    z-index: 2;
    align-self: center;
    opacity: 0;
  }
}
/* Events anons intro */
.project_eventsintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('/img/background7.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #arrow, #eve_text, #smoke1, #smoke2, #smoke3, #smoke4, #smoke5 {
    position: absolute;
  }
  & #arrow {
    bottom: 340px;
    z-index: 3;
  }
  & #knot3 {
    margin-right: -55%;
  }
  & #eve_text {
    align-self: center;
    opacity: 0;
    z-index: 2;
  }
  & #smoke1 {
    bottom: -400px;
    margin-left: 24%;
  }
  & #smoke2 {
    bottom: -500px;
    margin-left: -10%;
    width: 1000px;
  }
  & #smoke3 {
    bottom: -600px;
    margin-left: -10%;
    width: 1500px;
  }
  & #smoke4 {
    bottom: -500px;
    margin-left: 30%;
    width: 1200px;
    z-index: 5;
  }
  & #smoke5 {
    bottom: -600px;
    margin-left: 15%;
  }
}
/* Grants intro */
.project_grantsintro {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* align vertical */
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  &__bcg {
    background: url('/img/background7.png') center center no-repeat fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  & #gra_text, #paper4, #stamp2, #hand3, #hand4, .wax, #smoke6 {
    position: absolute;
  }
  & #gra_text {
    align-self: center;
    opacity: 0;
    z-index: 4;
  }
  & #stamp2 {
    align-self: center;
    margin-left: -360px;
    margin-top: -600px;
    z-index: 13;
  }
  .wax {
    align-self: center;
    opacity: 0;
  }
  #wax1 {
    margin-left: -330px;
    margin-top: 100px;
  }
  #wax2 {
    margin-left: -360px;
    margin-top: 93px;
  }
  #wax3 {
    margin-left: -390px;
    margin-top: 70px;
  }
  #wax4 {
    margin-left: -370px;
    margin-top: 110px;
  }
  #wax5 {
    margin-left: -360px;
    margin-top: 100px;
  }
  #wax6 {
    margin-left: -360px;
    margin-top: 100px;
  }
  #wax10 {
    margin-left: -360px;
    margin-top: 100px;
  }
  #wax11 {
    margin-left: -360px;
    margin-top: 100px;
  }
  & #knot4 {
    margin-right: -55%;
    z-index: 4;
  }
  & #hand3 {
    margin-left: -1060px;
    margin-top: -200px;
    transform: rotate(50deg);
    opacity: 0;
    z-index: 20;
  }
  & #hand4 {
    margin-left: 300px;
    bottom: -950px;
    z-index: 20;
  }
  #paper4 {
    margin-top: -600px;
    height: 900px;
    z-index: 2;
  }
  #smoke6 {
    align-self: center;
    margin-left: -360px;
    margin-top: 100px;
    opacity: 0;
    width: 300px;
  }
}

/* Slider */
.scrollcontent {
  @include transform(initial);
  @include transform(translate3d(0,0,0));
  height: 100%;
  left: initial;
  max-height: initial;
  overflow-x: hidden;
  overflow-y: scroll;
  position: initial;
  position: relative;
  top: 0;
  // background: green;
}
.project_genealogia {
  .section {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    &.slider {

      .slides {
        height: 100%;
        position: relative;
        width: 1000000em;

        .slide {
          @include box-sizing();
          display: block;
          float: left;
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

/**
** 3 columns 2 rows
 */
.project_columns {
  .section {
    height: 100%;
    overflow: hidden;
  }
}
.section-anons {
  position: relative;
  z-index: 2;
  .slides {
    padding-left: 0;
    font-size: 0;
    height: 100%;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    &__item {
      display: inline-block;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 33.3%;

      &.even {
        .teaser-image {
          top: 0;
        }

        .teaser-content {
          bottom: 0;
        }
      }

      &.odd {
        .teaser-image {
          bottom: 0;
        }

        .teaser-content {
          top: 0;
        }
      }

      .teaser-image {
        background-color: $primary-color;
        background-position-x: center;
        background-size: cover;
        height: 50%;
        width: 100%;
        position: absolute;
        z-index: 1;
        @include transform(translateZ(0px));
      }
      .separator {
        @include font-size(40px, 40px, 0);
        @include transform(translateZ(1px));
        color: white;
        left: 50%;
        margin-left: -37px;
        position: absolute;
        top: 50%;
        z-index: 1;

        &.iconpointer-up {
          margin-top: -34px;
        }

        &.iconpointer-down {
          margin-top: -4px;
        }
      }

      .teaser-content {
        background-color: $secondary-color;
        @include transform(translateZ(2px));
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $primary-color;
        &:visited {
          color: $primary-color;
        }
        &:hover {
          color: #3F3A2F;
        }
        .teaser-text {
          display: flex;
          align-self: center;
          justify-content: center;
          text-align: center;
          .icon {
            min-width: 120px;
            height: 120px;
          }

          & .title {
            flex: 0 1 auto;
            align-self: center;
            font-family: 'Bodoni', sans-serif;
            font-weight: 500;
            @include font-size(32px, 1em, 10);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
/**
** Navigation arrow
 */
.prev-next-button {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
  transform: translateY(-50%);
  z-index: 30;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.prev { left: 20px; }
.next { right: 20px; }

.prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;

}

.arrow { fill: #fff ; }
nav {
  .arrownavlink {
    @include font-size(20px, 20px, 0);
    @include transition(all, 100ms);
    background-color: #222;
    color: $primary-color;
    cursor: pointer;
    height: 96px;
    margin-top: -38px;
    position: absolute;
    top: 50%;
    width: 48px;
    z-index: 4;

    &:before {
      @include transition(all, 100ms);
      @include transform(translate(0,-50%));
      position: absolute;
      top: 50%;
    }

    &.prev {
      @include multiple-border-radius(0, 96px, 96px, 0);
      @include transformorigin(0,50%);
      left: 40px;

      &:before {
        right: 20px;
      }

      &.hidden {
        @include transform(translate(-125px,0));
      }
    }

    &.next {
      @include multiple-border-radius(96px, 0, 0, 96px);
      @include transformorigin(100%,50%);
      right: 0px;

      &:before {
        left: 20px;
      }

      &.hidden {
        @include transform(translate(85px,0));
      }
    }
  }
}


