@import "includes/base";
@import "../../bower_components/css-hamburgers/_sass/hamburgers/hamburgers";


/* HEADER
------------------------*/
.hamburger {
  background-color: $primary-color;
  padding: 15px 15px 10px 15px;
  margin: 15px;
  z-index: 1000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
