script#genealogia-template(type='text/x-hanlebars-template')
    .project.project_columns
        .section-anons.section
            #gen_slides.slides
                | {{#each genealogia}}
                | <div class="slides__item {{#if_even @index}}odd{{ else }}even{{/if_even}} {{#if @first}} active {{/if}}">
                |   <div style="background-image:url(/img/{{ image }});" class="teaser-image videobox"></div>
                |     <div class="separator icon iconpointer-{{#if_even @index}}down{{ else }}up{{/if_even}}"></div><a href="{{ url }}" class="teaser-content">
                |     <div class="teaser-text">
                |       <image class="icon" width="100" height="100" src="/img/icons/{{iconNumber}}.svg" />
                |       <div class="title">{{ title }}</div>
                |     </div></a>
                | </div>
                | {{/each}}