.cards {
  color: $gray;
  font-family: 'Abetka', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1em;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  justify-content: space-around;
  padding: 0;
}

.cards__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 4rem;
  //height: 40px;
  @media (min-width: 30rem) {
    line-height: 100%;
  }
  @media(min-width: 56rem) {
    font-size: 5rem;
    width: 86px;
    height: 86px;
    border: 1px solid $primary-color;
    margin: 0 50px 70px 50px;
    &:hover {
      border: 1px solid $gray-darker;
    }
  }
  & a {
    line-height: 5rem;
    color: $primary-color;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      color: $gray-darker;
    }
  }
}
.bottom {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 40px;
  & a {
    color: $primary-color;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 15px 30px;
    border: 1px solid;
    font-size: 2em;
    margin: 0 auto;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:visited {
      color: $primary-color;
    }
    &:hover {
      color: $gray-darker;
    }
  }
}