/*
 Granty
 */
.granty {
  padding: 50px;
  background-color: white;

  &__title {
    font-family: 'Bodoni', sans-serif;
    text-align: left;
    line-height: 1.2em;
    font-size: 47px;
    margin: 0;
    letter-spacing: 0.1rem;
  }

  &__container {
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;

    &__sidebar {
      flex: 1;
      width: 400px;
    }

    &__content {
      flex: 3;
      font-family: 'BodoniItalic', sans-serif;
      margin-left: 30px;
      font-size: 33px;

      &__header {
        &__title {
          text-align: left;
          line-height: 1.2em;
          font-size: 47px;
          margin: 0;
          letter-spacing: 0.1rem;
        }
      }

      &__row {
        display: flex;

        margin-top: 30px;
        & h1, h2, h3 {
          line-height: 1.2em;
        }
        & img {
          margin-right: 40px;
          @media (min-width: 45rem){
            margin-right: 140px;
          }
        }
      }
      & hr {
        display: block;
        border: 0px;
        height: 10px;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }
      & span {
        font-family: 'Open Sans Condensed', sans-serif;
      }
      & a {
        color: red;
        text-decoration: none;
        @include transition(all, 100ms);
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

@media (min-width: 45rem) {
  .granty {
    margin: 170px auto;
    padding: 10px 90px;
    width: 80%;

    &__title {
      margin-top: 100px;
      margin-left: 20px;
    }

    &__container__content__row {
      margin-left: -250px;
    }
  }
}

@media (min-width: 720px ) AND (max-width: 1200px) {
  .granty__container__content__row {
    margin-left: 0;

    & img {
      margin-right: 20px;
    }
  }
}