extends _layouts/category

block head_end
    link(rel="stylesheet" href="/css/alphabet-clans.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")
block gen_slides

block content
    include _partials/header
    .clans
        h1.clans__title АЛФАВІТ РОДІВ
        ul.clans__list
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід
            li.clans__list__item
                a(href="/alphabet-clans/aksaky")
                    i.clans__list__item__title Аксаки,
                    span.clans__list__item__type шляхетський рід




block body_end
    //script(type="text/javascript" src="/js/script.js")
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    //script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/kinetic-v5.1.0.min.js')
    script(src='js/ScrollMagic.min.js')
    script(src='js/plugins/debug.addIndicators.min.js')
    script(src='js/plugins/animation.gsap.min.js')
    //script(src='js/plugins/animation.velocity.min.js')
    script(src='js/plugins/jquery.ScrollMagic.min.js')
    script(src='js/DrawSVGPlugin.min.js')
    script(src='js/SplitText.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js')
    script(type="text/javascript" src='/js/handlebars.min.js')
    script(src='js/menu.js')