extends _layouts/category

block head_end
    link(rel="stylesheet" href="/css/alphabet.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")
block gen_slides

block content
    include _partials/header
    .main
        ul.cards
            li.cards__item
                a(href="/alphabet-clans.html") А
            li.cards__item
                a(href="/alphabet-clans.html") Б
            li.cards__item
                a(href="/alphabet-clans.html") В
            li.cards__item
                a(href="/alphabet-clans.html") Г
            li.cards__item
                a(href="/alphabet-clans.html") Г
            li.cards__item
                a(href="/alphabet-clans.html") Д
            li.cards__item
                a(href="/alphabet-clans.html") Ж
            li.cards__item
                a(href="/alphabet-clans.html") З
            li.cards__item
                a(href="/alphabet-clans.html") И
            li.cards__item
                a(href="/alphabet-clans.html") І
            li.cards__item
                a(href="/alphabet-clans.html") Ї
            li.cards__item
                a(href="/alphabet-clans.html") Й
            li.cards__item
                a(href="/alphabet-clans.html") К
            li.cards__item
                a(href="/alphabet-clans.html") Л
            li.cards__item
                a(href="/alphabet-clans.html") М
            li.cards__item
                a(href="/alphabet-clans.html") Н
            li.cards__item
                a(href="/alphabet-clans.html") О
            li.cards__item
                a(href="/alphabet-clans.html") П
            li.cards__item
                a(href="/alphabet-clans.html") Р
            li.cards__item
                a(href="/alphabet-clans.html") С
            li.cards__item
                a(href="/alphabet-clans.html") Т
            li.cards__item
                a(href="/alphabet-clans.html") У
            li.cards__item
                a(href="/alphabet-clans.html") Ф
            li.cards__item
                a(href="/alphabet-clans.html") Х
            li.cards__item
                a(href="/alphabet-clans.html") Ц
            li.cards__item
                a(href="/alphabet-clans.html") Ч
            li.cards__item
                a(href="/alphabet-clans.html") Ш
            li.cards__item
                a(href="/alphabet-clans.html") Щ
            li.cards__item
                a(href="/alphabet-clans.html") Ь
            li.cards__item
                a(href="/alphabet-clans.html") Ю
            li.cards__item
                a(href="/alphabet-clans.html") Я


block body_end
    include _partials/scripts