extends _layouts/category

block head_end
    link(rel="stylesheet" href="/css/alphabet.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")
block gen_slides

block content
    include _partials/header
    .main
        ul.cards
            li.cards__item
                a(href="/alphabet-clans.html") А
            li.cards__item
                a(href="/alphabet-clans.html") Б
            li.cards__item
                a(href="/alphabet-clans.html") В
            li.cards__item
                a(href="/alphabet-clans.html") Г
            li.cards__item
                a(href="/alphabet-clans.html") Г
            li.cards__item
                a(href="/alphabet-clans.html") Д
            li.cards__item
                a(href="/alphabet-clans.html") Ж
            li.cards__item
                a(href="/alphabet-clans.html") З
            li.cards__item
                a(href="/alphabet-clans.html") И
            li.cards__item
                a(href="/alphabet-clans.html") І
            li.cards__item
                a(href="/alphabet-clans.html") Ї
            li.cards__item
                a(href="/alphabet-clans.html") Й
            li.cards__item
                a(href="/alphabet-clans.html") К
            li.cards__item
                a(href="/alphabet-clans.html") Л
            li.cards__item
                a(href="/alphabet-clans.html") М
            li.cards__item
                a(href="/alphabet-clans.html") Н
            li.cards__item
                a(href="/alphabet-clans.html") О
            li.cards__item
                a(href="/alphabet-clans.html") П
            li.cards__item
                a(href="/alphabet-clans.html") Р
            li.cards__item
                a(href="/alphabet-clans.html") С
            li.cards__item
                a(href="/alphabet-clans.html") Т
            li.cards__item
                a(href="/alphabet-clans.html") У
            li.cards__item
                a(href="/alphabet-clans.html") Ф
            li.cards__item
                a(href="/alphabet-clans.html") Х
            li.cards__item
                a(href="/alphabet-clans.html") Ц
            li.cards__item
                a(href="/alphabet-clans.html") Ч
            li.cards__item
                a(href="/alphabet-clans.html") Ш
            li.cards__item
                a(href="/alphabet-clans.html") Щ
            li.cards__item
                a(href="/alphabet-clans.html") Ь
            li.cards__item
                a(href="/alphabet-clans.html") Ю
            li.cards__item
                a(href="/alphabet-clans.html") Я


block body_end
    //script(type="text/javascript" src="/js/script.js")
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    //script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/kinetic-v5.1.0.min.js')
    script(src='js/ScrollMagic.min.js')
    script(src='js/plugins/debug.addIndicators.min.js')
    script(src='js/plugins/animation.gsap.min.js')
    //script(src='js/plugins/animation.velocity.min.js')
    script(src='js/plugins/jquery.ScrollMagic.min.js')
    script(src='js/DrawSVGPlugin.min.js')
    script(src='js/SplitText.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js')
    script(type="text/javascript" src='/js/handlebars.min.js')
    script(src='js/menu.js')