extends _layouts/category

block head_end
    link(rel="stylesheet" href="/css/style.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")
block gen_slides

block content
    include _partials/header
    section.article
        .story
            .story__container
                section.story__content
                    h1.story__title Мишки-Варковські
                    p В середині XV ст. виходець з Руського воєводства Польського королівства Петро Мишчич отримав за свою службу привілеї від волинського князя Свидригайла Ольгердовича (1451) та польського короля Казимира Ягелона (1452) на Холонів, Холоневець та інші села в Перемильському повіті на Волині. Його рід продовжили сини Богдан († після 1513) і Дмитро († між 1495 та 1514) Мишчичі. Старший син Богдана  Федір започаткував гілку на Варковичах, молодший Дмитро – на Холоневі (див. Мишки-Холоневські). Серед найвідоміших нащадків Федора Богдановича († після 1539) слід назвати його сина Михайла М.-В. (народився бл. 1530, † 1605), який починав свою стрімку кар’єру на дворі Сигизмунда ІІ Августа (1553-1565), а в 1565 р. згадується як королівський ротмістр. Упродовж життя обіймав уряди річицького (1565-1567), гомельського (1568-1594) та овруцького (1572-1578) старости; у 1570-1571 був справцею київського воєводства. Завдяки підтримці потужного клану Радзивилів у 1572 р. отримав привілей на волинське каштелянство і, таким чином, першим (і останнім) в роду посів місце в сенаті Речі Посполитої. Дідич містечка і замку Варковичів, сіл Варковичі, Молодова, частин у Серниках, Бородчичах і Холоневі Луцького повіту Волинського воєводства. Народившися у православній родині, в зрілому віці прийняв вчення однієї з протестантських течій, згодом навернувся на католицизм; похований у фундованій ним же Варковицькій римо-католицькій каплиці поруч з дружиною Ядвігою Збонською з Курова.
                    p У шлюбі з нею мав чотирьох дітей: Абрама, Миколая, Станіслава і Марушу, дружину великого литовського маршалка і генерального жмудського старости Станіслава Радзивила. З них Абрам М.-В. († 4.10.1604) – овруцький староста (1578-1604) і волинський стольник (1580-1593), а Станіслав М.-В († бл. 1623) – королівський коморник.

block body_end
    include _partials/scripts