extends _layouts/category

block head_end
    link(rel="stylesheet" href="/css/style.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")
block gen_slides

block content
    include _partials/header
    section.article(style="background-image: url('../img/bg/2-4.png');")
        .story
            h1.story__title МАЙСТЕРНЯ З ГЕНЕАЛОГІЇ
            .story__container
                sidebar.story__container__sidebar
                    img.story__container__sidebar__image" src="/wp-content/uploads/2017/08/extra2.png")
                section.story__container__content
                    p Одним з найбільш яскравих явищ, пов’язаних своїм виникненням з європейським середньовіччям була геральдика, поява якої сягає епохи хрестових походів. Саме в цей період геральдика формується як цілісна система своєрідних, створених за певними правилами, знаків – гербів. Найістотнішою відмінністю геральдики від інших символічних систем є наявність в ній не лише ідейно-символічної, а й – в першу чергу – правової та суспільно-політичної складової.
                    p В добу рицарської геральдики герб часто містив в собі не стільки певне символічне значення (скажімо, в т. зв. «геральдичних фігурах» – найдавніших за часом появи сюжетах геральдики – взагалі годі шукати будь-який символізм), скільки відзначав високий соціальний статус свого власника. Згодом, коли рицарські герби стали передаватися у спадок і перетворилися на родові герби, останні стали своєрідним зовнішнім оформленням феодальної системи, з її становими імунітетами, привілейованими верствами, своєрідною системою землеволодіння та виконання військової служби. Герби, таким чином, вказували в першу чергу на приналежність до соціальної еліти, виступали універсальним засобом соціальної ідентифікації.
                    figure
                        img(src="/img/ger/ger1.jpg")
                        figcaption Рицарські герби в «Armorial Bellenville» другої половини XIV ст.
                    p У багатьох європейських мовах назва герба є похідною від слова «зброя» («arma», «wappen» та ін.), що пов’язано з первісним виникненням гербів в рицарському середовищі, чим зумовлене також запозичення складових елементів герба (щит, шолом, намет та ін.) з військового побуту середньовіччя. Подібну ґенезу даного терміну бачимо також на слов’янському ґрунті, де в значенні герба уживано терміни – «оружиє» та «клейнод». Втім, найбільш розповсюдженим в слов’янських мовах є саме термін «герб», який походить від німецького слова «erbe», тобто «спадщина», чим висловлено погляд на герб як на спадковий в певному роді знак, який передавався з покоління в покоління від батька до сина.
                    figure
                        img(src="/img/ger/ger2.jpg")
                        figcaption Родовий герб панів Ричанських у гербовнику Бартоша Папроцького «Diadochos» 1602 р.
                    p На появу та розвиток геральдики вплинув цілий комплекс подій та новацій в тогочасному європейському суспільстві. В першу чергу, в ХІІ ст. суттєвих змін зазнало озброєння. З’являється закута в броню кавалерія, а також нові форми шоломів, які закривали обличчя рицарів та робили неможливим їх розпізнання на полі бою. Водночас, наявність значних військових контингентів, що приймали участь в хрестоносних заходах, ставила на порядок денний необхідність витворення ідентифікуючих засобів, які б давали можливість орієнтуватися в бойових умовах.
                    figure
                        img(src="/img/ger/ger3.jpg")
                        figcaption Король Владислав ІІІ в «Armorial équestre de la Toison d’or» першої половини XV ст.
                    p Найзручнішим місцем для розміщення ідентифікуючих зображень було поле рицарського щита, який саме в цей час зазнає відчутних трансформацій – позбувається умбона (випуклих металевих накладок, що закривали щитовий простір) та набуває мигдалеподібної форми, що дозволяло наносити на його поле відповідні зображення. Спочатку ці останні мали доволі примітивний характер – розфарбовувалися в один або декілька кольорів, зазвичай – дерев’яні дошки в один колір, а металеве окуття (по периметру – у вигляді облямівки, або повздовжні чи поперечні смуги) – в інший. Від подібного забарвлення рицарських щитів походять найдавніші європейські герби, що ними користувалися найвизначніші аристократичні роди Європи, а то й цілі держави, приміром, Австрія, герб якої являє собою червоний щит зі срібним поясом (горизонтальною смугою посередині щита).
                    figure
                        img(src="/img/ger/ger4.jpg")
                        figcaption Герби Гертруди Бабенберг герцогині Австрії та Штирії
                    p Згодом зображення на щитах урізноманітнюються – починають з’являтися малюнки тварин (леви, орли, ведмеді, олені та ін.) і рослин (лілії та троянди), небесних світил (місяць і зірки), міфологічних істот (дракони та єдинороги) та ін. символів, взятих як з реального, так і уявного світів. Розширення цього арсеналу художніх засобів у ранній геральдичній творчості не в останню чергу було пов’язане з бажанням тогочасної людини виразити свою індивідуальність за посередництвом засобів зовнішньої ідентифікації. У першу чергу це, звичайно, стосувалося військово-політичної еліти середньовічної доби, що зробила з гербів ознаку свого високого соціального статусу.
                    p Герб стає своєрідним аналогом прізвища, але вираженого зображальними засобами. Ця подібність набуває особливої виразності після того як герби починають передавати в спадок. Герб нерідко використовують як замінник імені тієї чи іншої особи. Приміром, в епічному творі «Тристан та Ізольда» рицар Паламед постійно фігурує як «рыцэръ с чорномъ щытом и з двема мечы», якого Тристан впізнає лише за його гербом – «То ест Паламидеж, познал его знаме» (руський переклад XVI ст.).
                    figure
                        img(src="/img/ger/ger5.jpg")
                        figcaption Варіант герба рицаря Паламеда
                    p Універсальність мови геральдичних образів призводить до того, що ідея герба знаходить визнання не лише в рицарському середовищі, з військової практики якої і народилася геральдика, але і серед інших верств середньовічного суспільства, що претендували на привілейований статус – в першу чергу серед духовенства та міського патриціату. А вже в юридичних трактатах XIV ст. (зокрема, в такому авторитетному як «De Insigniis et Armis» Бартоло ді Сасоферато) визначається, що «будь-хто за власним бажанням може взяти собі герб і використовувати його на власних речах ... оскільки як імена вигадано для розрізнення людей, так і ці знаки або герби винайдено для того ж».
                    figure
                        img(src="/img/ger/ger6.jpg")
                        figcaption Герби станів Священної Римської імперії 1510 р.
                    p Від того часу власні герби набувають королівські та княжі династії, шляхетські роди та нобілітовані вихідці з простонароддя, що своєю військовою вправністю здобувають рицарську гідність, єпископи та священики, міський патриціат і цілі міські громади, купецькі гільдії та ремісничі цехи, духовно-рицарські ордени та університети, землі, провінції та держави. Герб стає предметом гордості для свого індивідуального чи колективного власника. Його демонструють за першої ліпшої нагоди. В гербові кольори забарвлюють одяг та прапори, вітрила кораблів та вітражі церков.
                    figure
                        img(src="/img/ger/ger7.jpg")
                        figcaption Герб папи римського Сикста V 1586 р.
                    p Початки української (руської) геральдики, як і європейської в цілому, сягають ХІІ–ХІІІ ст. Вже у цей час Русь була добре обізнана зі всіма формами та звичаями, пов’язаними з інститутом рицарства – турнірами, різноманітними рицарськими обрядами та герботворенням. Так, в літописах зустрічаємо згадки про рицарські турніри в Києві 1150 р., Галичі 1230 р., Ярославі 1245 р. («Ростиславъ ... створити игру предъ градомъ и сразивъшуся ему со Воршемь и падеся под нимь конь и вырази соби плече») та ін., а також – про надання рицарської гідності через обряд пасування мечем – «выступи Изяславъ из Володимиря и оттуда поиде къ Луческу и ту перебы три дни и ту пасаше Болеславъ сыны боярьскы мечемъ многы».
                    figure
                        img(src="/img/ger/ger8.jpg")
                        figcaption Рицарський турнір у Гейдельберзькому рукописі початку XIV ст.
                    p Західноєвропейські джерела згадують про участь рицарів-русинів в турнірах, що влаштовували різні європейські володарі. Так, поема ХІІ ст. «Сад троянд» повідомляє про «Гартніта і Гартунга з Русі» на турнірі у Вормсі. А в епічній поемі ХІІІ ст. «Ортніт» одним з головних героїв виступає Ілля з Русі («Iliaz von Reuzzen»), чорний стяг якого прикрашало зображення золотого льва (характерно, що в гербовнику Грюненберга XV ст. цей герб репрезентував цілу Русь).
                    figure
                        img(src="/img/ger/ger10.jpg")
                        figcaption Герб Русi в гербовнику Конрада Грюненберга 1483 р.
                        | Герб Червоної Русi в Хроніці Констанцького собору XV ст.
                    p Про звичай руських дружинників забарвлювати бойові щити повідомляє «Слово о полку Ігоревім» – «храбрии Русини преградиша [поля] чрълеными щиты». Різнобарвні руські щити знаходимо також на мініатюрах Радивилiвського (Кьонiгсберзького) лiтопису (відомий список XV ст. створено за протографом ХIII ст.). Інші зображення геральдичного характеру маємо на археологічних пам’ятках домонгольського періоду. Так, на кістяному вікові зі скриньки ХІІ ст. з Пліснеська зображено руського дружинника на вежі, що спирається на щит з подвійною облямівкою та навскісними смугами – надзвичайно популярне зображення в ранній європейській геральдиці. А на рельєфній іконці зламу ХІІ–XIII ст. з Києва зображено св. Димитрія Солунського в обладунках руського дружинника, що спирається на щит з зображенням розетки – одного з найпоширеніших сюжетів ранньої руської геральдики, що виконував роль загальнодинастичного знаку руського правлячого дому.
                    figure
                        img(src="/img/ger/ger12.jpg")
                        figcaption Руськi дружинники на мiнiатюрі Радивилiвського лiтопису ХIII (XV) ст.
                        | Руський дружинник на вежi. Кiстяне вiко ХII ст. з Плiснеська
                        | Св. Димитрій Солунський. Рельєфна іконка з Києва зламу ХІІ–ХІІІ ст.
                    p Від середини ХІІІ ст. походять найдавніші відомості про державно-династичні герби Руського королівства. Так, Галицько-Волинський літопис подає опис герба короля Данила Романовича, вирізьбленого на кам’яній вежі, що знаходилася поблизу королівської столиці міста Холма – «стоить же столпъ поприща от города каменъ а на нимь орелъ каменъ изваянъ». Не виключено, що цим гербом, у вигляді двоголового орла, користувався ще батько короля Данила Роман Мстиславич, який був одружений на візантійській принцесі, що, очевидно, послужило підставою для використання імперського герба. Згодом, в XV ст., цей герб уживався в якості герба Червоної Русі (золотий двоголовий орел на чорному полі) та локального геральдичного знаку Перемишльської землі (на блакитному полі).
                    figure
                        img(src="/img/ger/ger13.jpg")
                        figcaption Герби Руського королiвства в «Züricher Wappenrolle» початку ХІV ст.
                    p Прикметно, що і у найдавнішому західноєвропейському гербовнику – геральдичній поемі Конрада фон Муре «Clipearium Teutonicorum», створеній в 40-х рр. ХІІІ ст., вміщено опис герба Руського короля – «Червоний повстяний капелюх у білому полі Руського короля, народ якого проживає далеко від Рейну», поміж гербами найвизначніших європейських володарів – королів Франції, Іспанії, Угорщини, Чехії, Англії, Єрусалима, Швеції, Данії, Норвегії та ін. Варіанти зображення цього герба (імовірно, він являв собою переосмислення тризубоподібного знаку династії Романовичів, на що вказує характерна іконографія гербової фігури) бачимо у ще одному з найдавніших гербовників – Цюрихському гербовому сувої (Züricher Wappenrolle) початку ХІV ст.
                    figure
                        img(src="/img/ger/ger17.jpg")
                        figcaption Печатки Юрiя I короля Русі 1301–1308 рр. та
                        | Володислава Опольського самодержця Русі 1372 р.
                    p До цього ж часу належить один з найкращих зразків руського герботворення раннього періоду – зображення герба Руського королівства (лев, що спинається на скелю) на кінній печатці короля Юрія І Львовича (1301–1308). З іменем цього володаря імовірно слід пов’язати появу ще одного руського державного герба з зображенням хреста святого Юрія – червоного на зеленому полі (такий варіант подає «Книга знань» кастильського монаха-францисканця першої половини XIV ст.), або срібного на червоному полі (пізніше це зображення виконуватиме роль земельного герба Волині).
                    figure
                        img(src="/img/ger/ger18.jpg")
                        figcaption Герб Руської землі в «Armorial équestre de la Toison d’or» першої половини XV ст.
                        | Герб Волинської землі в «Codex Bergshammar» першої половини XV ст.
                    p Прикметно, що столичні міста Руського королівства – Львів та Володимир користувалися від початку XIV ст. гербами, в основі яких перебували сюжети похідні від державних гербів. На печатці Львова бачимо лева в міській брамі, а на печатці Володимира – святого Юрія (зображення якого згодом фігуруватиме в якості династичного герба руських князів – під назвою «Погоня руська»).
                    figure
                        img(src="/img/ger/ger19.jpg")
                        figcaption Міські печатки Львова та Володимира початку XIV ст.
                    p Втрата більшості джерел з вітчизняної історії другої половини ХІІІ – першої половини XIV ст., тобто тієї доби коли геральдика в Західній Європі переживала період свого становлення, не дозволяє в повній мірі оцінити масштаби розвитку геральдичної творчості на руських землях. Втім, і наявних відомостей достатньо для того, щоб констатувати – руське герботворення, на цьому початковому етапі, являло собою органічну, хоч і виразно самобутню, складову загальноєвропейського процесу виникнення та розвитку геральдики.
                    figure
                        img(src="/img/ger/ger21.jpg")
                        figcaption Печатки князів Олександра Коріатовича 1366 р.
                        |і Дмитра Корибута Ольгердовича 1385 р.
                    p ХIV–ХVІ ст. є періодом найяскравішого розквіту європейської герботворення. Ця доба буквально вдягнена у геральдичні шати. Довершених форм та максимального поширення набуває в цей час і руська геральдика. Так державне герботворення руських земель було представлено гербами Київського великого князівства, Сіверського і Подільського господарств та ін. великих державних утворень, а також – гербами удільних князівств (у першу чергу на Волині – Острозького, Заславського, Збаразького, Вишневецького, Четвертинського та ін.).
                    figure
                        img(src="/img/ger/ger22.jpg")
                        figcaption Печатки руських князів XV–XVI ст.
                    p Власними гербами в XV ст. користувалися практично всі землі Русі (Галицька і Перемишльська, Холмська і Белзька, Київська і Брацлавська та ін.), а також міста, що мали самоврядування на основі магдебурського або хелминського права (як великі – Київ, Луцьк, Берестя, Перемишль, Галич, так і дрібніші – Вишня, Городло, Грубешів, Самбір та ін.). Геральдичні знаки уживають цехи та представники міського патриціату, церковні установи (капітули і монастирі) та ієрархи (митрополити, єпископи, архимандрити).
                    figure
                        img(src="/img/ger/ger23.jpg")
                        figcaption Герби Подiльської, Холмської та Галицької земель в гербовнику Еразма Каміна 1575 р.
                    figure
                        img(src="/img/ger/ger24.jpg")
                        figcaption Львівські цехові печатки другої половини XIV ст.
                    figure
                        img(src="/img/ger/ger25.jpg")
                        figcaption Герб міста Києва в гербовнику Конрада Грюненберга 1483 р.
                        | Герб київського митрополита Григорія Цамблака в Хроніці Констанцького собору XV ст.
                    p Але найбільший геральдичний комплекс цієї доби складали родові герби руського нобілітету, перелік яких іде на тисячі. Вони прикрашали собою бойові та турнірні щити, прапори та печатки, замкові вежі та стіни церков, їх зустрічаємо в привілеях та на сторінках загальноєвропейських («універсальних») гербовників. Приміром, в знаменитому Гербовнику Гелре («Wapenboek Gelre»), який було створено в останній третини ХІV ст. герольдом гелдернського герцога Клаесом Гайненом, представлено декілька руських родових гербів, один з яких належав Івану з Гораю (три срібних вруба на червоному полі щита, над яким розсташовано шолом з нашоломником у вигляді двох лещат, з яких виникає срібний пес), учаснику почесного рицарського столу в Кьонігсберзі 1385 р., взяти участь в якому могли лише найвизначніші іноземні рицарі – союзники Німецького Ордену.
                    figure
                        img(src="/img/ger/ger26.jpg")
                        figcaption Герб Івана з Гораю в «Wapenboek Gelre» останньої третини XIV ст.
                        | Герб рицаря Ордену Дракона Андрiя з Чопа в привiлеї 1418 р.
                    p Своєрідною рисою руської родової геральдики було те, що її основу становили родові знаки, які виникли задовго до появи самої геральдики і лише згодом були оформлені в родові герби згідно з вимогами геральдики. Подібну практику бачимо й в інших європейських країнах, але якщо в Україні-Русі 90% гербів було створено на підставі старих родових знаків, то, скажімо, в Польщі подібних випадків налічувалося заледве чи 20%, в Німеччині – 5%, а в ін. країнах – і того менше.
                    figure
                        img(src="/img/ger/ger27.jpg")
                        figcaption Знакоподібні герби на руських печатках кінця XIV–XV ст.
                    p Регіонами первісного поширення родових гербів на руських теренах були, очевидно, найзахідніші землі – Галичина, Волинь та Закарпаття («Marchia Ruthenorum»). Втім, уже на зламі XIV–XV ст. зразки родового герботворення з’являються в усіх землях середньовічної Русі – від Підлящщя до південної Київщини, та від Буковини до Сіверської землі. Наявність же масового джерельного матеріалу від XV ст. дозволяє говорити про використання гербів практично всіма руськими родинами, що претендували на привілейований статус у тогочасному суспільстві.
                    figure
                        img(src="/img/ger/ger28.jpg")
                        figcaption Печатки руської шляхти XV ст.
                    p Руська (українська) геральдика доби середньовіччя ні багатством форм, ні кількістю пам’яток, ні масштабами поширення серед різних груп та прошарків середньовічного суспільства не поступалася аналогічним геральдичним комплексам інших країн Європи. Разом з тим, впродовж своєї еволюції руське герботворення розвинулося в своєрідну систему, яку по-праву можна вважати однією з найбільш оригінальних складових геральдичного мистецтва середньовічної Європи.
                    p Нова епоха в історії української геральдики пов’язана з виходом на історичну арену козацтва і формуванням ним нових політичних організмів та нового суспільно-політичного устрою на центрально-українських землях. Доба козацького герботворення розпочалася від кінця ХVІ ст. (з появою першого запорозького герба) і тривала до кінця ХVІІІ ст. (часу скасування рештків автономії козацьких державно-політичних організмів – Війська Запорозького (Гетьманщини), Війська Запорозького Низового (Запоріжжя), Слобідської України).
                    figure
                        img(src="/img/ger/ger29.jpg")
                        figcaption Печатки Війська Запорозького Низового початку XVII ст.
                    p Впродовж окресленого вище часу козацька геральдика набула рис яскраво своєрідної системи, що знайшло своє відображення як в зовнішньму оформленні козацьких гербів, так і в сфері їх суспільно-політичного значення, внутрішнього змісту та практичного застосування. Самобутність козацького герботворення впадала у вічі ще історикам ХІХ ст. і відтоді науковці незмінно повертаються до питання про причини самої появи такого несподіваного феномену як козацька геральдика, адже на відміну від інших європейських країн, геральдика яких в ранньомодерний період не зазнала суттєвих перетворень, а навпаки вступила в добу стагнації та занепаду, в Україні спостерігаємо бурхливий процес розквіту нових, небачених ще досі, геральдичних форм.
                    p Пояснення цьому можна знайти лише взявши до уваги специфіку тогочасних соціальних процесів. Так, якщо в більшості країн Європи бачимо або консервацію старих соціальних форм або зміну старої аристократичної верхівки на еліту, що мала передусім економічне походження (буржуазія), то в Україні на зміну шляхті приходить інша, ще більш змілітаризована, елітна верства – козацька старшина, для якої геральдика стала тим самим чим вона була для середньовічного рицарства – однією з головних ознак високого соціального статусу, формою символічного висловлення власних суспільно-політичних амбіцій.
                    p Разом з тим, варто відзначити, що козацька геральдика витворилася в умовах повної децентралізації процесу герботворення, за відсутності будь-яких регулюючих чинників, що докорінно відрізняє її від сучасного їй процесу герботворення в інших країнах Європи, який перебував під ретельним наглядом відповідних державних установ, що позбавляло ранньомодерну геральдику інших країн динаміки розвитку, безпосереднього зв’язку з суспільно-політичним життям, свіжості ідейного наповнення та виразного політичного спрямування. На тлі застиглих форм західно-європейського герботворення ранньо-модерного часу ще більшої виразності набуває динамічність козацької геральдики, яка напрочуд точно відбила в собі тогочасні суспільно-політичні та культурні особливості розвитку українського суспільства, його світоглядні та ідейно-політичні погляди.
                    figure
                        img(src="/img/ger/ger30.jpg")
                        figcaption Козацькі родові герби XVІII ст.
                    p Очевидно, козацька геральдика виросла не на порожньому грунті, адже їй передувала півтисячолітня традиція європейського герботворення загалом, і блискуча доба старо-української (руської) геральдики зокрема. Але в цьому і полягає суть феномену козацької геральдики, яка увібравшись в форми старої геральдичної традиції наповнила її цілком новим змістом. Козацька геральдика взяла від попередніх геральдичних систем – руської та річпосполитської (що на той час перебувала в процесі формування) в основному лише саму ідею герба (як засобу соціальної ідентифікації), до певної міри – зразки зовнішнього оформлення, і лише в незначній мірі внутрішнє наповнення (певні герби, окремі гербові фігури та ін.).
                    p Звичайно, деякі зразки руського герботворення знайшли своє відображення в геральдиці козацької доби, але подібні приклади знаходимо лише в ділянці родової геральдики і до того ж бачимо ці герби в доволі трансформованому вигляді (під впливом річпосполитської та самої козацької геральдичної практики). Дещо більший вплив козацька геральдика зазнала з боку річпосполитської геральдичної системи (яка почала формуватися на зламі XVI–ХVІІ ст. на основі польської геральдики з включенням численних компонентів руської, литовської, пруської та ін. геральдичних традицій). Але і ці впливи обмежувалися в основному родовою геральдикою, а окрім того почали масово з’являтися лише від середини XVІII ст. коли на зміну соціально мобільній козацькій старшині остаточно приходить малоросійська шляхта як замкнена соціальна верства, що виразно повертається до річпосполитських суспільно-політичних ідеалів та інститутів, в тому числі й до річпосполитської геральдики.
                    p Якщо до середини XVII ст. зразки козацького герботворення з’являються лише спорадично, не творячи собою певного комплексу, то з початком Козацької революції починається швидкий процес творення козацької геральдичної системи, що зумовлено як виходом на історичну арену нової соціальної еліти – козацької старшини, так і докорінними суспільно-політичними зрушеннями в цілому. Таким чином, революційні процеси в суспільстві супроводжувалися аналогічними процесами і в сфері геральдики.
                    figure
                        img(src="/img/ger/ger31.jpg")
                        figcaption Печатки козацької старшини середини XVII ст.
                    p Від самого початку ідейно-символічну основу козацької геральдики становили сюжети мілітарного характеру, що є цілком закономірним з огляду на тогочасну крайню мілітаризацію всіх сфер життя українського суспільства. Саме життя на Великому степовому кордоні, перманентні війни проти Ногайських орд, Кримського ханства та Османської імперії, участь козацьких військ у походах на Москву та Молдавію, повстання проти Речі Посполитої, а згодом і Руїна громадянської війни другої половини XVII ст., все це диктувало військовий спосіб життя, а разом з тим і знаходило своє відображення у зовнішніх формах, зокрема, в геральдиці.
                    p Серед найістотніших ознак козацького герботворення, що найяскравіше вирізняє його з-посеред інших геральдичних систем, варто назвати наявність в більшості гербів козацької доби (причому, як в державних і родових, так і земельних та міських) зображення зброї або символів військової доблесті, мужності, шляхетності та перемоги. Козак-рицар, його звитяжна зброя та рицарські чесноти – ось центральна постать та основні сюжети козацької геральдики. Найрізноманітніші та незбагненні поєднання козацької зброї (часто в перехрещеному вигляді, що мало символізувати перемогу), з символами шляхетності (серце) та звитяги (зірка, півмісяць, хрест) можемо бачити практично на кожному козацькому гербі. Інші сюжети, якщо й були присутні в козацькому герботворенні, мали виразно другорядне значення, не раз виконуючи певні спеціальні функції, скажімо, політичної символіки.
                    figure
                        img(src="/img/ger/ger32.jpg")
                        figcaption Козацькі герби з мілітарною символікою
                        | другої половини XVII – першої половини XVIII ст.
                    p Ця остання знайшла своє відображення в доволі значній кількості пам’яток козацького герботворення, особливо в сфері державної та земельної геральдики. Намагання в символічний спосіб висловити політичні погляди або претензії суспільно-політичного характеру були тим більш легкі для виконання, що козацька геральдика не знала жодних поважних регламентуючих перешкод. Тому не дивно, що політична символіка щільно супроводжувала козацьку геральдику на протязі всього її існування, набираючи не раз найнесподіванішого вигляду в окремих її пам’ятках.
                    p Якщо говорити про зовнішнє оформлення козацької геральдики, то перше, що впадає у вічі, так це широке застосування в герботворенні козацької доби позащитових елементів повного герба. І якщо для родової геральдики подібна практика виглядає цілком закономірною, то наявність цих елементів у більшості міських та земельних гербів надає козацькій геральдиці своєрідності і в цій, суто формальній з першого погляду, площині. Звичайно, не можна також оминути увагою художню стилізацію козацьких гербів, більшість яких виконано в блискучому стилі козацького бароко.
                    figure
                        img(src="/img/ger/ger33.jpg")
                        figcaption Бароковий стиль в козацькій геральдиці
                        | (печатки міст Києва 1671 р. та Стародуба 1748 р.)
                    p Козацька геральдика, як за формою так і за змістом, по-за всяким сумнівом, являла собою щось цілком своєрідне в порівнянні з попередніми та існуючими на той час геральдичними системами, в тому числі й зі старо-українською (руською). З огляду на це можемо стверджувати, що історія української геральдичної традиції, являє собою унікальний феномен, коли одна нація (і то без будь-якого помітного впливу центральних державних установ) витворила дві геральдичні системи, кардинально відмінні як між собою, так і від традицій герботворення інших країн Європи. Дана обставина дає підстави говорити, що забуті світи руської та козацької геральдики є окрасою не лише української, але й загально-європейської культурно-історичної спадщини.

                    a(href="") Олег Однороженко









block body_end
    include _partials/scripts