extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/style.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")

block content
    include _partials/header
    #intro.intro
        .intro__content
            | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="100" viewBox="0 0 400 100" aria-labelledby="title">
            |  <title id="title">Інститут сфрагістики</title>
            |  <g>
            |   <clipPath id="introtext_mask">
            |    <polygon id="intro_mask" stroke="" points="0 0 400 0 340 100 0 100" ></polygon>
            |   </clipPath>
            |  </g>
            |  <text id="intro_text" clip-path="url(#introtext_mask)" height="100%" width="100%" x="225" y="85">IASH</text>
            |  <line id="intro_line" x1="400" y1="0" x2="340" y2="100" style="stroke:#6d6855;stroke-width:1" />
            | </svg>
            p ІНСТИТУТ СПЕЦІАЛЬНИХ ІСТОРИЧНИХ ДИСЦИПЛІН МУЗЕЮ ШЕРЕМЕТЬЄВИХ
    #main.main-container(role='main')
        #pro.project.project_about
            .project__bcg
            .project__content
                .project__content--title
                    | <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="100" viewBox="0 0 400 100" >
                    |  <g>
                    |   <clipPath id="abouttext_mask">
                    |    <polygon id="about_mask" stroke="" points="0 0 400 0 340 100 0 100" ></polygon>
                    |   </clipPath>
                    |  </g>
                    |  <text id="about_text" clip-path="url(#abouttext_mask)" height="100%" width="100%" x="200" y="80">ABOUT</text>
                    |  <line id="about_line" x1="400" y1="0" x2="340" y2="100" style="stroke:#6d6855;stroke-width:1" />
                    | </svg>
                .project__content--text
                    h1 ПРО ІНСТИТУТ
                    p Інститут спеціальних історичних дисциплін Музею Шереметьєвих – це науково-дослідна установа, яка була створена з метою сприяння розвитку сфрагістики, геральдики, генеалогії та суміжних з ними дисциплін.
                        | До роботи в Інституті залучаються провідні вітчизняні науковці,
                        | які активно займаються як прикладними дослідженнями, так і розвитком теоретичних підвалин зазначених галузей історичної науки.
        #genintro.project.project_genintro
            .project__bcg
            .project__content
                img#tube(src='/img/tube.png')
                // img#hat(src='/img/hat.png')
                // img#paper(src='/img/paper.png')
                // img#stamp(src='/img/stamp.png')
                // img#switch(src='/img/switch.png')
        #genealogia.project.project_genealogia
            #section-blog.section.slider.multi.active(data-menutitle='Blog', data-theme='lighttheme', data-logo='hidden', data-anchor='blog', data-initialized-sectionblog='true', data-initialized-slider='true')
                ul#blog-wrapper.blog-overview.slides(style='width: 6760px; transform: translate(0px, 0px);')
                    li#blog-teaser-1.blog-teaser.slide.even.active(data-logo='hidden', data-theme='lighttheme', data-anchor='1', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-1.jpg)')
                            .videocontainer.initialized(data-playaction='custom', data-autoplay='false', data-loop='true', data-title='Prädikat besonders wertvoll!', data-videosource='http://moodboard-film.de/wp-content/uploads/2016/08/Son_blog_web_1608_fullscreen_1.mp4', data-initialized-videocontainer='true')
                        .separator.icon.iconpointer-up
                        .teaser-content
                            .teaser-text
                                svg.stamp
                                    g
                                        clippath#stamp_mask
                                            polygon(stroke='', points='0 0 30 0 20 30 0 30')
                                    use(xlink:href='/img/icons.svg#1' clip-path="url(#stamp_mask)")
                                svg.line(viewbox='0 0 100 100')
                                    line#teaser-line(x1="100" y1="0" x2="55" y2="100" style="stroke:#6d6855;stroke-width:2")
                                h3 Майстерня
                    li#blog-teaser-2.blog-teaser.slide.odd(data-logo='hidden', data-theme='lighttheme', data-anchor='2', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-2.jpg)')
                            .videocontainer.initialized(data-playaction='custom', data-autoplay='false', data-loop='true', data-title='ATZE-V!', data-videosource='http://moodboard-film.de/wp-content/uploads/2016/08/ATZEV_blog_web_1608_fullscreen.mp4', data-initialized-videocontainer='true')
                        .separator.icon.iconpointer-down
                        .teaser-content
                            .teaser-text
                                svg.stamp
                                    g
                                        clippath#stamp_mask
                                            polygon(stroke='', points='0 0 30 0 20 30 0 30')
                                    line#intro_line(x1='400', y1='0', x2='340', y2='100', style='stroke:#6d6855;stroke-width:1')
                                    use(xlink:href='/img/icons.svg#2' clip-path="url(#stamp_mask)")
                                svg.line(viewbox='0 0 100 100')
                                    line#teaser-line(x1="100" y1="0" x2="55" y2="100" style="stroke:#6d6855;stroke-width:2")
                                h3 Алфавіт родів
                    li#blog-teaser-3.blog-teaser.slide.even(data-logo='hidden', data-theme='lighttheme', data-anchor='3', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-3.jpg)')
                        .separator.icon.iconpointer-up
                        .teaser-content
                            .teaser-text
                                svg.stamp
                                    g
                                        clippath#stamp_mask
                                            polygon(stroke='', points='0 0 30 0 20 30 0 30')
                                    use(xlink:href='/img/icons.svg#3' clip-path="url(#stamp_mask)")
                                svg.line(viewbox='0 0 100 100')
                                    line#teaser-line(x1="100" y1="0" x2="55" y2="100" style="stroke:#6d6855;stroke-width:2")
                                h3 Література з генеалогії
                    li#blog-teaser-4.blog-teaser.slide.odd(data-logo='hidden', data-theme='lighttheme', data-anchor='4', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-1.jpg)')
                        .separator.icon.iconpointer-down
                        .teaser-content
                            .teaser-text
                                svg.stamp
                                    use(xlink:href='/img/icons.svg#4')
                                h3 Майстерня
                    li#blog-teaser-5.blog-teaser.slide.even(data-logo='hidden', data-theme='lighttheme', data-anchor='5', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-2.jpg)')
                        .separator.icon.iconpointer-up
                        .teaser-content
                            .teaser-text
                                h3 Алфавіт родів
                    li#blog-teaser-6.blog-teaser.slide.odd(data-logo='hidden', data-theme='lighttheme', data-anchor='6', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-3.jpg)')
                        .separator.icon.iconpointer-down
                        .teaser-content
                            .teaser-text
                                h3 Майстерня
                    li#blog-teaser-7.blog-teaser.slide.even(data-logo='hidden', data-theme='lighttheme', data-anchor='7', style='opacity: 1;')
                        .teaser-image.videobox(style='background-image:url(/img/1-1.jpg)')
                        .separator.icon.iconpointer-up
                        .teaser-content
                            .teaser-text
                                h3 Алфавіт родів
                nav.arrownav
                    .arrownavlink.prev.icon.iconarrow-left.hidden
                    .arrownavlink.next.icon.iconarrow-right
        // #geraldika.project
            h1 Геральдика
            p Something
        //.footer-container
            footer.wrapper
                h3 Права захищені
                    | 2017 &copy;
                    a(href='http://devuserlab.com', target='_blank') DevUserLab
block body_end
    script(type="text/javascript" src="/js/classie.js")
    script(type="text/javascript" src="/js/script.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
    script(src='js/DrawSVGPlugin.min.js')
    script(src='js/SplitText.min.js')
    script(src='js/main.js')