extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/style.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")

block content
    include _partials/header
    #main.main-container(role='main')
        #intro.intro
            .intro__content
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='400', height='200', viewbox='0 0 400 200', aria-labelledby='title')
                    title#title Інститут сфрагістики
                    g
                        clippath#introtext_mask
                            polygon#intro_mask(stroke='', points='0 0 400 0 300 200 0 200')
                    text#intro_text(clip-path='url(#introtext_mask)', height='100%', width='100%', x='160', y='148', font-size='130', textLength='210', kerning='normal') IASH
                    line#intro_line(x1='400', y1='0', x2='300', y2='200', style='stroke:#6d6855;stroke-width:1')
                p ІНСТИТУТ СПЕЦІАЛЬНИХ ІСТОРИЧНИХ ДИСЦИПЛІН МУЗЕЮ ШЕРЕМЕТЬЄВИХ

        #abo_intro.project.project_about
            .project_about__bcg
            .project_about__content
                .project_about__content--title
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='400', height='200', viewbox='0 0 400 200')
                        g
                            clippath#abouttext_mask
                                polygon#about_mask(stroke='', points='0 0 400 0 300 200 0 200')
                        text#about_text(clip-path='url(#abouttext_mask)', font-size='80', height='100', width='400', x='190', y='80', style='stroke: #fff; fill: #fff;') ABOUT
                        line#about_line(x1='400', y1='0', x2='300', y2='200', style='stroke:#fff;stroke-width:1')
                .project_about__content--text
                    h1 ПРО ІНСТИТУТ
                    p Інститут спеціальних історичних дисциплін Музею Шереметьєвих – це науково-дослідна установа, яка була створена з метою сприяння розвитку сфрагістики, геральдики, генеалогії та суміжних з ними дисциплін.
                        |  До роботи в Інституті залучаються провідні вітчизняні науковці,
                        | які активно займаються як прикладними дослідженнями, так і розвитком теоретичних підвалин зазначених галузей історичної науки.
        // ********************
        // ** Genealogia intro
        // ********************
        #gen_intro.project.project_genintro
            .project_genintro__bcg
            .project__content
                img#tubebad(src='/img/498x84.png')
                img#tube(src='/img/tube.png')
                img#swatch(src='/img/switch.png')
                img#paper(src='/img/paper.png')
                img#stamp(src='/img/stamp.png')
                img#hat(src='/img/hat.png')
                img#tail1(src='/img/tail1.png')
                img#tail2(src='/img/tail2.png')
                svg#gen_text(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='600', height='200', viewbox='0 0 600 190')
                    text#gen_text_content(height='100%', width='100%', x='110', y='60', font-size='80') ГЕНЕАЛОГІЯ
        #genealogia
        include _partials/items
        // ********************
        // ** Sfragistika intro
        // ********************
        #sfr_intro.project_sfragistikaintro
            .project_sfragistikaintro__bcg
            .project_sfragistikaintro__content
                img#letter(src='/img/letter.png')
                img#stampiron(src='/img/stampiron.png')
                img#glove(src='/img/glove.png')
                img#stamper(src='/img/stamper.png')
                svg(id='sfr_text', width='475px',  viewbox='0 0 475 90', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title СФРАГІСТИКА
                    desc СФРАГІСТИКА
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='textio', fill='#fff', y='80') СФРАГІСТИКА
        #sfragistika
        include _partials/items
        // ********************
        // ** Geraldika intro
        // ********************
        #ger_intro.project_geraldikaintro
            .project_geraldikaintro__bcg
            .project_geraldikaintro__overlay#ger_overlay
            .project_geraldikaintro__content
                img#scabbard(src='/img/scabbard.png')
                img#saber2(src='/img/saber2.png')
                //img#garda(src='/img/garda.png')
                //img#knot(src='/img/knot.png')
                //img#scabbard(src='/img/saber.png')
                svg(id='ger_text', width='475px', viewbox='0 0 475 90', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title ГЕРАЛЬДИКА
                    desc ГЕРАЛЬДИКА
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='', fill='#fff', y='80') ГЕРАЛЬДИКА
        #geraldika
        include _partials/items
        // ********************
        // ** Resources intro
        // ********************
        #res_intro.project_resourcesintro
            .project_resourcesintro__bcg
            .project_resourcesintro__content
                img#paper3(src='/img/paper3.png')
                img#paper1(src='/img/paper1.png')
                img#paper2(src='/img/paper2.png')
                img#glasses(src='/img/glasses.png')
                img#tail3(src='/img/tail3.png')
                img#knot2(src='/img/knot2.png')
                img#signet(src='/img/signet.png')
                svg(id='res_text' width='310px', viewbox='0 0 310 90', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title РЕСУРСИ
                    desc РЕСУРСИ
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='', fill='#fff', y='80') РЕСУРСИ
        #resursi
        include _partials/items
        // ********************
        // ** Publishing intro
        // ********************
        #pub_intro.project_publishingintro
            .project_publishingintro__bcg
            .project_publishingintro__overlay#pub_overlay
            .project_publishingintro__content
                img#book(src='/img/book.png')
                img#lupa(src='/img/lupa.png')
                img#hand(src='/img/FFFFFF-0.png')
                img#paper5(src='/img/paper1.png')
                svg(id='pub_text' width='520px', viewbox='0 0 520 90', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title ВИДАВНИЦТВО
                    desc ВИДАВНИЦТВО
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='', fill='#fff', y='80') ВИДАВНИЦТВО
        #publishing
        include _partials/items
        // ********************
        // ** Projects intro
        // ********************
        #pro_intro.project_projectsintro
            .project_projectsintro__bcg
            .project_projectsintro__content
                img#lupa2(src='/img/lupa2.png')
                img#glass(src='/img/glass.svg')
                svg(id='pro_text' width='305px', height='90px', viewbox='0 0 305 90', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title ПРОЕКТИ
                    desc ПРОЕКТИ
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='', fill='#fff', y='80') ПРОЕКТИ
        #projects
        include _partials/items
        // ********************
        // ** Events announces intro
        // ********************
        #eve_intro.project_eventsintro
            .project_eventsintro__bcg
            .project_eventsintro__content
                svg(id='eve_text' width='465px', height='100px', viewbox='0 0 465 100', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title АНОНС ПОДІЙ
                    desc АНОНС ПОДІЙ
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='', fill='#fff', y='80') АНОНС ПОДІЙ
                img#arrow(src='/img/arrow.png')
                img#knot3(src='/img/knot.png')
                img#smoke1(src='/img/smokes/1.png')
                img#smoke2(src='/img/smokes/2.png')
                img#smoke3(src='/img/smokes/3.png')
                img#smoke4(src='/img/smokes/2.png')
                img#smoke5(src='/img/smokes/5.png')
        #eve
        include _partials/items2
        // ********************
        // ** Grants intro
        // ********************
        #gra_intro.project_grantsintro
            .project_grantsintro__bcg
            .project_grantsintro__content
                svg(id='gra_text' width='600px', height='100px', viewbox='0 0 600 100', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    title ПРЕМІЇ ТА ГРАНТИ
                    desc ПРЕМІЇ ТА ГРАНТИ
                    defs
                    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', font-weight='normal', font-size='90', font-family='HeliosCondLightC', font-style='condensed')
                        text(id='', fill='red', y='80') ПРЕМІЇ ТА ГРАНТИ
                img#stamp2(src='/img/stamp2.png')
                img#knot4(src='/img/knot.png')
                img#paper4(src='/img/paper2.png')
                img#hand3(src='/img/glove.png')
                img#hand4(src='/img/glove.png')
                img.wax#wax1(src='/img/wax/1.png')
                img.wax#wax2(src='/img/wax/2.png')
                img.wax#wax3(src='/img/wax/3.png')
                img.wax#wax4(src='/img/wax/4.png')
                img.wax#wax5(src='/img/wax/5.png')
                img.wax#wax6(src='/img/wax/6.png')
                img.wax#wax10(src='/img/wax/10.png')
                img.wax#wax11(src='/img/wax/11.png')
                img#smoke6(src='/img/smokes/3.png')
        #gra
        include _partials/items2


block body_end
    //script(type="text/javascript" src="/js/script.js")
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    //script(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/kinetic-v5.1.0.min.js')
    script(src='js/ScrollMagic.min.js')
    script(src='js/plugins/debug.addIndicators.min.js')
    script(src='js/plugins/animation.gsap.min.js')
    script(src='js/plugins/animation.velocity.min.js')
    script(src='js/plugins/jquery.ScrollMagic.min.js')
    script(src='js/DrawSVGPlugin.min.js')
    script(src='js/SplitText.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/ScrollToPlugin.min.js')
    script(src='js/main.js')