extends _layouts/home

block head_end
    link(rel="stylesheet" href="/css/style.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")

block content
    include _partials/header
    #intro.intro
        .intro__bcg
        .intro__content
            h1 IASH
            .intro__content--line
            p ІНСТИТУТ СПЕЦІАЛЬНИХ ІСТОРИЧНИХ ДИСЦИПЛІН МУЗЕЮ ШЕРЕМЕТЬЄВИХ
    #main.main-container(role='main')
        #project01.project
            h1 ABOUT
            p Інститут спеціальних історичних дисциплін Музею Шереметьєвих – це науково-дослідна установа, яка була створена з метою сприяння розвитку сфрагістики, геральдики, генеалогії та суміжних з ними дисциплін.
                | До роботи в Інституті залучаються провідні вітчизняні науковці,
                | які активно займаються як прикладними дослідженнями, так і розвитком теоретичних підвалин зазначених галузей історичної науки.
        #project02.project
            h1 ГЕНЕАЛОГІЯ
            p Щось про генеалогію
        #project03.project
            h1 Геральдика
            p Something
        .footer-container
            footer.wrapper
                h3 Права захищені
                    | 2017 &copy;
                    a(href='http://devuserlab.com', target='_blank') DevUserLab
block body_end
    script(type="text/javascript" src="/js/classie.js")
    script(type="text/javascript" src="/js/script.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')
    script(src='js/main.js')