extends _layouts/category

block head_end
    link(rel="stylesheet" href="/css/style.css")
    script(type="text/javascript" src="/js/modernizr.custom.js")
block gen_slides

block content
    include _partials/header
    section.article(style="background-image: url('../img/bg/2-4.png');")
        .story
            h1.story__title МАЙСТЕРНЯ З ГЕНЕАЛОГІЇ
            .story__container
                sidebar.story__container__sidebar
                    img.story__container__sidebar__image
                section.story__container__content
                    h2 Сфрагістичний щорічник
                    figure
                        a(href='http://resource.history.org.ua/cgi-bin/eiu/history.exe?&I21DBN=ELIB&P21DBN=ELIB&S21STN=1&S21REF=10&S21FMT=elib_all&C21COM=S&S21CNR=20&S21P01=0&S21P02=0&S21P03=ID=&S21COLORTERMS=0&S21STR=0008130')
                            img(src='/wp-content/uploads/2017/09/yearbook1.png')
                        figcaption
                            p Сфрагістичний щорічник / Ред. кол.: П. С. Сохань (гол. ред.), О. О. Маврін (заст. гол. ред.), О. Є. Шереметьєв (заст. гол. ред.), О. А. Однороженко (відп. ред.), В. П. Перкун (заст. відп. ред.), Н. О. Білоус, В. А. Брехуненко, А. Б. Гречило, М. М. Капраль, Ю. А. Мицик, В. В. Поліщук, І. А. Тесленко, В. В. Томазов, А. О. Сова, В. І. Ульяновський, О. А. Алфьоров (відп. секр.). HAH України. Інститут української археографії та джерелознавства ім. М. С. Грушевського; Інститут спеціальних історичних дисциплін Музею Шереметьевых. – Випуск ІІІ. – К., 2012. – 312 с.
                            p Третій випуск Сфрагістичного щорічника вміщує матеріали II міжнародної Сфрагістичної конференції, що відбулася в Києві 18–20 листопада 2011 року. Основне коло питань, висвітлених у збірнику, відповідає тематиці конференції "Печатка як форма комунікації (культурний код) від Середньовіччя до Нового часу".
                            p Видання розраховане на сфрагістів, істориків та всіх зацікавлених
                    h2 Сфрагістичний щорічник
                    figure
                        a(href='http://resource.history.org.ua/cgi-bin/eiu/history.exe?&I21DBN=ELIB&P21DBN=ELIB&S21STN=1&S21REF=10&S21FMT=elib_all&C21COM=S&S21CNR=20&S21P01=0&S21P02=0&S21P03=ID=&S21COLORTERMS=0&S21STR=0012873')
                            img(src='/wp-content/uploads/2017/09/yearbook2.png')
                        figcaption
                            p Сфрагістичний щорічник / Ред. кол.: Г. В. Папакін (гол. ред.), О. О. Маврін (заст. гол. ред.), О. Є. Шереметьєв (заст. гол. ред.), O. A. Однороженко (відп. ред.), В. П. Перкун (заст. відп. ред.), Н. О. Білоус, В. А. Брехуненко, А. Б. Гречило, М. М. Капраль, Ю. А. Мицик, В. В. Поліщук, I. A. Тесленко, В. В. Томазов, А. О. Сова, В. І. Ульяновський, М. І. Храпунов, O. A. Алфьоров (відп. секр.). НАН України. Інститут української археографії та джерелознавства ім. М. С. Грушевського; Інститут спеціальних історичних дисциплін Музею Шереметьєвих. ‒ Вип. VІ. ‒ К.: Видавничий дім "Антиквар", 2016. ‒ 640 с.
                    h2 Генеалогія. Збірка наукових праць.
                    figure
                        a(href='http://resource.history.org.ua/cgi-bin/eiu/history.exe?&I21DBN=ELIB&P21DBN=ELIB&S21STN=1&S21REF=10&S21FMT=elib_all&C21COM=S&S21CNR=20&S21P01=0&S21P02=0&S21P03=ID=&S21COLORTERMS=0&S21STR=10986')
                            img(src='/wp-content/uploads/2017/09/yearbook3.png')
                        figcaption
                            p Генеалогія. Збірка наукових праць. – Вип. ІІ: Генеалогія соціальних, локальних та етнічних груп України: джерела, методи дослідження, звʼязок із соціальною історією / Ред. кол.: В. А. Смолій (голова), Г. В. Боряк (заст. гол.), О. Є. Шереметьев (заст. гол.), В. В. Томазов (відп. ред.), О. А. Алфьоров, Я. В. Верменич, А. Б. Гречило, О. І. Гуржій, В. М. Даниленко, М. Ф. Дмитрієнко, М. Ф. Котляр, О. А. Однороженко, В. П. Перкун, О. П. Реєнт, В. І. Ульяновський; Упорядн. В. В. Томазов. НАН України. Інститут історії України; Інститут спеціальних історичних дисциплін музею Шереметьєвих. – К.: ВД "Антиквар", 2016. – 390 с.
                            p Збірка наукових праць вміщує матеріали Других Українських генеалогічних читань, що відбулися в Києві 24‒26 травня 2013 р. Видання розраховане на фахівців у галузі генеалогії та суміжних спеціальних історичних дисциплін, архівних, бібліотечних, музейних працівників, викладачів, аспірантів, студентів вузів гуманітарного профілю

block body_end
    include _partials/scripts
