header.header
    .search-wrapper
        form
            input#search.search-wrapper-input(placeholder='Введіть запит...', type='search', value='', name='search', style='display: none;')
            input.search-wrapper-submit(type='submit', value='')
            span.search-wrapper-icon#search-icon
    button.hamburger.hamburger--spin.js-hamburger(type='button', id='trigger-overlay')
        span.hamburger-box
            span.hamburger-inner
    .overlay.overlay-hugeinc
        nav
            ul
                li.block
                    a(href='#abo_intro') Про інститут
                    ul.submenu
                        li
                            a(href='#') Історія
                        li
                            a(href='#') Місія
                        li
                            a(href='#') Цілі
                    a(href='#gen_intro') Генеалогія
                    ul.submenu
                        li
                            a(href='#') Майстерня
                        li
                            a(href='#') Алфавіт родів
                        li
                            a(href='#') Література з генеалогії
                    a(href='#ger_intro') Геральдика
                    ul.submenu
                        li
                            a(href='#') Майстерня
                        li
                            a(href='#') Родові герби
                        li
                            a(href='#') Міські герби
                        li
                            a(href='#') Література з геральдики
                li.block
                    a(href='#sfr_intro') Сфрагістика
                    ul.submenu
                        li
                            a(href='#') Майстерня
                        li
                            a(href='#') Сфрагістичні колекції
                        li
                            a(href='#') Каталог "1000 років української печатки"
                        li
                            a(href='#') Література зі сфрагістики
                        li
                            a(href='#') Реставрація

                    a(href='#res_intro') Ресурси
                    ul.submenu
                        li
                            a(href='#') Історіографія
                        li
                            a(href='#') Джерела
                    a(href='#pub_intro') Видавництво
                    ul.submenu
                        li
                            a(href='#') Крамниця
                        li
                            a(href='#') Пропозиції співпраці
                li.block
                    a(href='#pro_intro') Проекти
                    ul.submenu
                        li
                            a(href='#') Музей Шереметьєвих
                        li
                            a(href='#') Семінар СІД
                        li
                            a(href='#') Сфрагістичний семінар
                        li
                            a(href='#') Генеалогічна конференція
                        li
                            a(href='#') Виставки і презентації
                        li
                            a(href='#') Вікіпедія
                    a(href='#eve_intro') Анонс подій
                    ul.submenu
                        li
                            a(href='#') Графік семінарів СІД
                        li
                            a(href='#') Публікації
                        li
                            a(href='#') Виставки
                        li
                            a(href='#') Презентації
                        li
                            a(href='#') Конференції
                    a(href='#gra_intro') Премії та гранти
            .container
                a.btn-default(href='#') Контакти