.project.project_genealogia
    #section-blog.section.slider.multi.active(data-menutitle='Blog', data-theme='lighttheme', data-logo='hidden', data-anchor='blog', data-initialized-sectionblog='true', data-initialized-slider='true')
        ul#blog-wrapper.blog-overview.slides(style='width: 6760px; transform: translate(0px, 0px);')
            li#blog-teaser-1.blog-teaser.slide.even.active(data-logo='hidden', data-theme='lighttheme', data-anchor='1', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-1.jpg)')
                    .videocontainer.initialized(data-playaction='custom', data-autoplay='false', data-loop='true', data-title='Prädikat besonders wertvoll!', data-videosource='http://moodboard-film.de/wp-content/uploads/2016/08/Son_blog_web_1608_fullscreen_1.mp4', data-initialized-videocontainer='true')
                .separator.icon.iconpointer-up
                a(href='#').teaser-content
                    .teaser-text
                        svg.icon(viewBox='0 0 120 120')
                            g
                                clippath#stamp_mask2
                                    polygon(stroke='', points='0 0 60 0 35 60 0 60')
                            use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                            line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                        .title Майстерня
            li#blog-teaser-2.blog-teaser.slide.odd(data-logo='hidden', data-theme='lighttheme', data-anchor='2', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-2.jpg)')
                    .videocontainer.initialized(data-playaction='custom', data-autoplay='false', data-loop='true', data-title='ATZE-V!', data-videosource='http://moodboard-film.de/wp-content/uploads/2016/08/ATZEV_blog_web_1608_fullscreen.mp4', data-initialized-videocontainer='true')
                .separator.icon.iconpointer-down
                a(href='#').teaser-content
                    .teaser-text
                        svg.icon(viewBox='0 0 120 120')
                            g
                                clippath#stamp_mask2
                                    polygon(stroke='', points='0 0 60 0 35 60 0 60')
                            use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                            line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                        .title Алфавіт родів
            li#blog-teaser-3.blog-teaser.slide.even(data-logo='hidden', data-theme='lighttheme', data-anchor='3', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-3.jpg)')
                .separator.icon.iconpointer-up
                a(href='#').teaser-content
                    .teaser-text
                        svg.icon(viewBox='0 0 120 120')
                            g
                                clippath#stamp_mask2
                                    polygon(stroke='', points='0 0 60 0 35 60 0 60')
                            use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                            line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                        .title Література з генеалогії
            li#blog-teaser-4.blog-teaser.slide.odd(data-logo='hidden', data-theme='lighttheme', data-anchor='4', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-1.jpg)')
                .separator.icon.iconpointer-down
                a(href='#').teaser-content
                    .teaser-text
                        svg.icon(viewBox='0 0 120 120')
                            g
                                clippath#stamp_mask2
                                    polygon(stroke='', points='0 0 60 0 35 60 0 60')
                            use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                            line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                        .title Майстерня
            li#blog-teaser-5.blog-teaser.slide.even(data-logo='hidden', data-theme='lighttheme', data-anchor='5', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-2.jpg)')
                .separator.icon.iconpointer-up
                .teaser-text
                    svg.icon(viewBox='0 0 120 120')
                        g
                            clippath#stamp_mask2
                                polygon(stroke='', points='0 0 60 0 35 60 0 60')
                        use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                        line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                    .title Алфавіт родів
            li#blog-teaser-6.blog-teaser.slide.odd(data-logo='hidden', data-theme='lighttheme', data-anchor='6', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-3.jpg)')
                .separator.icon.iconpointer-down
                .teaser-text
                    svg.icon(viewBox='0 0 120 120')
                        g
                            clippath#stamp_mask2
                                polygon(stroke='', points='0 0 60 0 35 60 0 60')
                        use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                        line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                    .title Майстерня
            li#blog-teaser-7.blog-teaser.slide.even(data-logo='hidden', data-theme='lighttheme', data-anchor='7', style='opacity: 1;')
                .teaser-image.videobox(style='background-image:url(/img/1-1.jpg)')
                .separator.icon.iconpointer-up
                .teaser-text
                    svg.icon(viewBox='0 0 120 120')
                        g
                            clippath#stamp_mask2
                                polygon(stroke='', points='0 0 60 0 35 60 0 60')
                        use(xlink:href='/img/icons.svg#6' clip-path="url(#stamp_mask2)" width='60' height='60' x='50' y='20')
                        line.liner(x1='120', y1='0', x2='20', y2='240', stroke='black', style='stroke-width: 1px; fill: none;')
                    .title Алфавіт родів
        nav.arrownav
            .arrownavlink.prev.icon.iconarrow-left.hidden
            .arrownavlink.next.icon.iconarrow-right