/*	FONTS
------------------------*/
@font-face {
  font-family: 'Bodoni';
  src: url('../fonts/Bodoni72C.woff') format('woff'),
        url("../fonts/Bodoni72C.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BodoniBold';
  src: url('../fonts/Bodoni72C.woff') format('woff'),
        url("../fonts/Bodoni72C.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BodoniBoldItalic';
  src: url('../fonts/Bodoni72C-BoldItalic.woff') format('woff'),
        url("../fonts/Bodoni72C-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: 'BodoniItalic';
  src: url('../fonts/Bodoni72C-Italic.woff') format('woff'),
        url("../fonts/Bodoni72C-Italic.otf") format("opentype");
  font-style: italic, oblique;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic');

@font-face {
  font-family: 'Abetka';
  src: url('../fonts/FitaVjazC.woff') format('woff'),
        url("../fonts/FitaVjazC.otf") format("opentype");
  font-weight: normal;
}

/* VARIABLES
-----------------------*/
$primary-color: #6d6855;
$menu-color: #030911;
$secondary-color: #fff;
$gray-darker:      #444444;
$gray-dark:         #696969;
$gray:                #999999;
$gray-light:         #cccccc;
$gray-lighter:      #ececec;
$gray-lightest:      lighten($gray-lighter,4%);
/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  color: $primary-color;
  font-size: 100%;
  line-height: 1.5;
  background-color: #ffffff;
  margin: 0;
}

/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}