/*	FONTS
------------------------*/
@font-face {
  font-family: 'Bodoni';
  src: url("/fonts/Bodoni72C.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni';
  src: url("/fonts/Bodoni72C-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni';
  src: url("/fonts/Bodoni72C-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: 'Bodoni';
  src: url("/fonts/Bodoni72C-Italic.otf") format("opentype");
  font-style: italic, oblique;
}
@font-face {
  font-family: 'Helios';
  src: url("/fonts/HeliosCondLightC-Italic.otf") format("opentype");
  font-style: italic, oblique;
}
@font-face {
  font-family: 'Helios';
  src: url("/fonts/HeliosCondLightC.otf") format("opentype");
  font-weight: normal;
}

/* VARIABLES
-----------------------*/
$primary-color: #6c593e;
/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Bodoni', Arial, sans-serif;
  color: $primary-color;
  font-size: 100%;
  line-height: 1.5;
  background-color: #ffffff;
  margin: 0;
}

/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}